<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/access/bootstrap@5.3.0-alpha1/css/bootstrap.min.css" />
    <script src="/access/bootstrap@5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/access/css/reset.css">
    <link rel="stylesheet" href="./style.css">
    <title>应用</title>
</head>
<body>
    <div class="container page">
        <div class="mt-5 d-flex justify-content-between align-items-center hello">
            <div>
                <div class="fs-5">Hi, 今天又是美好的一天</div>
                <div class="small">放下抑郁焦虑吧，愿你在这里找到自我</div>
            </div>
            <div class="emoji">
                <img src="/access/img/app/emoji.png" alt="">
            </div>
        </div>
        <!-- 轮播图 -->
        <div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="box">
                    山上吹来每一股气息都是如此洋溢着生命，仿佛无论谁吸进了它，即使是气息奄奄的人，也会复活起来。
                </div>
              </div>
              <div class="carousel-item">
                <div class="box">
                    你不愿意种花，你说，我不愿意看见它一点点凋落。是的，为了避免结束，你避免了一切开始。
                </div>
              </div>
              <div class="carousel-item">
                <div class="box">
                    日日重复同样的事，遵循着与昨日相同的惯例；若能避开猛烈的欢喜，自然也不会有悲痛的来袭。
                </div>
              </div>
            </div>
        </div>
        <!-- 置顶测试 -->
        <div>
            <div class="grid-container">  
                <div class="grid-item grid-left">左侧一列</div>  
                <div class="grid-item grid-right_top">右侧第一行</div>  
                <div class="grid-item grid-right_bottom">右侧第二行</div>  
            </div>
        </div>
    </div>
</body>
</html>