<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>你属于高敏感人群吗？-自我测试 -数字集合</title>
  <link rel="stylesheet" href="/access/bootstrap@5.3.0-alpha1/css/bootstrap.min.css" />
  <script src="/access/bootstrap@5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container" id="container">
    <div class="page hsps js_show" tabindex="-1">
      <div class="weui-form">
        <div class="weui-form__bd">
          <h2 class="text-center">你属于高敏感人群吗？-自我测试</h2>
          <div class="alert alert-primary" role="alert">
            <h3>说明</h3>
            <p class="row">Copyright, Elaine N. Aron, 1996</p>
            <p class="row">来自: <a href="https://hsperson.com/test/highly-sensitive-test/">https://hsperson.com/test/highly-sensitive-test/</a> </p>
            <p class="row">使用指南: 请根据你的个人感受回答每一个问题。如果你感觉至少有部分认同该感受，请勾选它；如果你感觉差得比较远，或根本没有这种感受，则不勾选。</p>
            <p class="row">如果你是一位家长，想要对自己的孩子进行评估，请使用<a href="https://hsperson.com/test/highly-sensitive-child-test/">"你的孩子是高敏感的吗？</a>"这个测试。</p>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
            <label class="form-check-label" for="flexCheckDefault1">
              我很注意周围环境的细节
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">
              其他人的情绪会影响到我
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
            <label class="form-check-label" for="flexCheckDefault3">
              我对疼痛比较敏感
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
            <label class="form-check-label" for="flexCheckDefault4">
              我发现在经过忙碌的一天之后，我需要从中抽离出来。躺在床上或者呆在一个黑暗的房间，或者任何可以让我有隐私的空间里，离开这些刺激
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
            <label class="form-check-label" for="flexCheckDefault5">
              我对咖啡因特别敏感
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
            <label class="form-check-label" for="flexCheckDefault6">
              诸如明亮的光线，强烈的气味，粗糙的织物或者附近的警车鸣笛等事物很容易让我受不了
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
            <label class="form-check-label" for="flexCheckDefault7">
              我的内心世界非常丰富，非常复杂
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
            <label class="form-check-label" for="flexCheckDefault8">
              噪音容易让我很不舒服
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9">
            <label class="form-check-label" for="flexCheckDefault9">
              艺术或音乐作品经常深深地打动我
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10">
            <label class="form-check-label" for="flexCheckDefault10">
              我很认真勤奋
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
            <label class="form-check-label" for="flexCheckDefault11">
              我总是容易受到惊吓
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
            <label class="form-check-label" for="flexCheckDefault12">
              如果我短时间内需要完成大量的事情，我会感到不安
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13">
            <label class="form-check-label" for="flexCheckDefault13">
              当有人在物理环境中觉得不舒服的时候，我知道怎么让他更舒服一点（比如调整下光线，或者调整下座位）
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault14">
            <label class="form-check-label" for="flexCheckDefault14">
              如果有人想让我同一时间做很多件事情，我会觉得很烦
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault15">
            <label class="form-check-label" for="flexCheckDefault15">
              我会努力避免犯错和忘记事情
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault16">
            <label class="form-check-label" for="flexCheckDefault16">
              我会特别注意不去看暴力的影视作品
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault17">
            <label class="form-check-label" for="flexCheckDefault17">
              如果我身边同时发生很多事情，我会被唤起不愉快的感觉
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault18">
            <label class="form-check-label" for="flexCheckDefault18">
              当我很饿的时候，我的反应会比较强烈，扰乱我的注意力和情绪
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault19">
            <label class="form-check-label" for="flexCheckDefault19">
              生活中的变化常让我震惊和不安
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault20">
            <label class="form-check-label" for="flexCheckDefault20">
              我能觉察并享受微妙或精致的香气、味道、声音和艺术作品
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault21">
            <label class="form-check-label" for="flexCheckDefault21">
              好好安排我的生活非常重要，尽力避免令人沮丧不安和混乱的的情况出现
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault22">
            <label class="form-check-label" for="flexCheckDefault22">
              如果我不得不跟别人竞争，或者在别人的视察下完成一件任务，我会变得非常紧张不安，我的表现比平时差得多
            </label>
          </div>
          <div class="form-check form-control-lg">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault23">
            <label class="form-check-label" for="flexCheckDefault23">
              小的时候，我的爸妈或老师觉得我是一个敏感的，害羞的孩子
            </label>
          </div>
          <button type="button" class="btn btn-primary">查看结果</button>
        </div>
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
    </div>

</body>

</html>