<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>你属于高敏感人群吗？-自我测试 -数字集合</title>
    <link rel="stylesheet" href="/access/css/weui.css" />
    <link rel="stylesheet" href="/access/css/reset.css" />
    <link rel="stylesheet" href="/hsps/style.css">
</head>

<body>
    <div class="container" id="container">
        <div class="page hsps js_show" tabindex="-1">
            <h1 style="text-align: center;">你属于高敏感人群吗？-自我测试</h1>
            <div style="border-radius: 10px;padding: 10px;border: 1px solid #ccc">
                <h3>说明</h3>
                <p class="row">Copyright, Elaine N. Aron, 1996</p>
                <p class="row">来自: <a href="https://hsperson.com/test/highly-sensitive-test/">https://hsperson.com/test/highly-sensitive-test/</a> </p>
                <p class="row">中文翻译: Justin Yan (使用The Highly Sensitive Person 25周年纪念版书本中的测试，与作者网站上的有些不同)</p>
                <p class="row">使用指南: 请根据你的个人感受回答每一个问题。如果你感觉至少有部分认同该感受，请勾选它；如果你感觉差得比较远，或根本没有这种感受，则不勾选。</p>
                <p class="row">如果你是一位家长，想要对自己的孩子进行评估，请使用<a href="https://hsperson.com/test/highly-sensitive-child-test/">"你的孩子是高敏感的吗？</a>"这个测试。</p>
            </div>
            <div data-v-11edc3f0="" class="test-form">
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component p-highlight" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="true" data-p-disabled="false">
                            <input id="1" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input" value="我很注意周围环境的细节">
                            <div class="p-checkbox-box" data-pc-section="box"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="p-icon p-checkbox-icon" aria-hidden="true" data-pc-section="icon">
                                    <path
                                        d="M4.86199 11.5948C4.78717 11.5923 4.71366 11.5745 4.64596 11.5426C4.57826 11.5107 4.51779 11.4652 4.46827 11.4091L0.753985 7.69483C0.683167 7.64891 0.623706 7.58751 0.580092 7.51525C0.536478 7.44299 0.509851 7.36177 0.502221 7.27771C0.49459 7.19366 0.506156 7.10897 0.536046 7.03004C0.565935 6.95111 0.613367 6.88 0.674759 6.82208C0.736151 6.76416 0.8099 6.72095 0.890436 6.69571C0.970973 6.67046 1.05619 6.66385 1.13966 6.67635C1.22313 6.68886 1.30266 6.72017 1.37226 6.76792C1.44186 6.81567 1.4997 6.8786 1.54141 6.95197L4.86199 10.2503L12.6397 2.49483C12.7444 2.42694 12.8689 2.39617 12.9932 2.40745C13.1174 2.41873 13.2343 2.47141 13.3251 2.55705C13.4159 2.64268 13.4753 2.75632 13.4938 2.87973C13.5123 3.00315 13.4888 3.1292 13.4271 3.23768L5.2557 11.4091C5.20618 11.4652 5.14571 11.5107 5.07801 11.5426C5.01031 11.5745 4.9368 11.5923 4.86199 11.5948Z"
                                        fill="currentColor"></path>
                                </svg></div>
                        </div><label data-v-11edc3f0="" for="1">我很注意周围环境的细节</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="2" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="其他人的情绪会影响到我">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="2">其他人的情绪会影响到我</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="3" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我对疼痛比较敏感">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="3">我对疼痛比较敏感</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="4" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我发现在经过忙碌的一天之后，我需要从中抽离出来。躺在床上或者呆在一个黑暗的房间，或者任何可以让我有隐私的空间里，离开这些刺激">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="4">我发现在经过忙碌的一天之后，我需要从中抽离出来。躺在床上或者呆在一个黑暗的房间，或者任何可以让我有隐私的空间里，离开这些刺激</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="5" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我对咖啡因特别敏感">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="5">我对咖啡因特别敏感</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="6" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="诸如明亮的光线，强烈的气味，粗糙的织物或者附近的警车鸣笛等事物很容易让我受不了">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="6">诸如明亮的光线，强烈的气味，粗糙的织物或者附近的警车鸣笛等事物很容易让我受不了</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="7" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我的内心世界非常丰富，非常复杂">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="7">我的内心世界非常丰富，非常复杂</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="8" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="噪音容易让我很不舒服">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="8">噪音容易让我很不舒服</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="9" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="艺术或音乐作品经常深深地打动我">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="9">艺术或音乐作品经常深深地打动我</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="10" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我很认真勤奋">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="10">我很认真勤奋</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="11" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我总是容易受到惊吓">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="11">我总是容易受到惊吓</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="12" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="如果我短时间内需要完成大量的事情，我会感到不安">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="12">如果我短时间内需要完成大量的事情，我会感到不安</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="13" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="当有人在物理环境中觉得不舒服的时候，我知道怎么让他更舒服一点（比如调整下光线，或者调整下座位）">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="13">当有人在物理环境中觉得不舒服的时候，我知道怎么让他更舒服一点（比如调整下光线，或者调整下座位）</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="14" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="如果有人想让我同一时间做很多件事情，我会觉得很烦">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="14">如果有人想让我同一时间做很多件事情，我会觉得很烦</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="15" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我会努力避免犯错和忘记事情">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="15">我会努力避免犯错和忘记事情</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="16" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我会特别注意不去看暴力的影视作品">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="16">我会特别注意不去看暴力的影视作品</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="17" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="如果我身边同时发生很多事情，我会被唤起不愉快的感觉">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="17">如果我身边同时发生很多事情，我会被唤起不愉快的感觉</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="18" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="当我很饿的时候，我的反应会比较强烈，扰乱我的注意力和情绪">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="18">当我很饿的时候，我的反应会比较强烈，扰乱我的注意力和情绪</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="19" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="生活中的变化常让我震惊和不安">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="19">生活中的变化常让我震惊和不安</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="20" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="我能觉察并享受微妙或精致的香气、味道、声音和艺术作品">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="20">我能觉察并享受微妙或精致的香气、味道、声音和艺术作品</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="21" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="好好安排我的生活非常重要，尽力避免令人沮丧不安和混乱的的情况出现">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="21">好好安排我的生活非常重要，尽力避免令人沮丧不安和混乱的的情况出现</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="22" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="如果我不得不跟别人竞争，或者在别人的视察下完成一件任务，我会变得非常紧张不安，我的表现比平时差得多">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="22">如果我不得不跟别人竞争，或者在别人的视察下完成一件任务，我会变得非常紧张不安，我的表现比平时差得多</label><!---->
                    </div>
                </div>
                <div data-v-11edc3f0="" class="flex align-items-center">
                    <div data-v-11edc3f0="" class="item">
                        <div data-v-11edc3f0="" class="p-checkbox p-component" data-pc-name="checkbox" data-pc-section="root" data-p-highlight="false" data-p-disabled="false"><input id="23" type="checkbox" class="p-checkbox-input" name="question" data-pc-section="input"
                                value="小的时候，我的爸妈或老师觉得我是一个敏感的，害羞的孩子">
                            <div class="p-checkbox-box" data-pc-section="box"><!----></div>
                        </div><label data-v-11edc3f0="" for="23">小的时候，我的爸妈或老师觉得我是一个敏感的，害羞的孩子</label><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>