.headImage {
  width: 100%;
  height: calc(100vw * (9/16));
  overflow: hidden;
  border-radius: 10px;
  
}

.titleBox {
  /* height: 40px; */
  
}
.btn {
  padding: 4px 5px;
  min-width: 80px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: center;
  
}
.btnRight {
  display: block;
  float: right;
}