<div class="">
  <footer id="footer" class="footer--vue international tw-bg-white tw-py-20 medium:tw-py-40 huge:tw-pt-60 tw-border-t tw-border-gray-03 tw-m-auto tw-mb-0">
    <nav role="navigation" aria-label="Footer" class="sp-wrap footer__links p-sm tw-grid tw-grid-cols-2 tw-gap-20 medium:tw-grid-cols-4 tw-mb-20 medium:tw-mb-40 tw-pb-20 medium:tw-pb-40 tw-border-b tw-border-gray-03 dark:tw-border-ds-medium">
      <div>
        <h3 class="font-body p-sm tw-font-semibold tw-m-0">我们的产品</h3>
        <ul class="tw-list-none tw-m-0 tw-p-0">
          <li class="tw-mt-10"><a href="https://www.16personalities.com/academy" class="link--inline">高敏感人群测试</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-body p-sm tw-font-semibold tw-m-0">资源</h3>
        <ul class="tw-list-none tw-m-0 tw-p-0">
          <li class="tw-mt-10"><a href="https://www.16personalities.com/articles" class="link--inline tw-mt-10">Articles</a></li>
          <li class="tw-mt-10"><a href="https://www.16personalities.com/articles/our-theory" class="link--inline tw-mt-10">Our Framework</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-body p-sm tw-font-semibold tw-m-0">帮助</h3>
        <ul class="tw-list-none tw-m-0 tw-p-0">
          <li class="tw-mt-10"><a href="https://www.16personalities.com/contact-us" class="link--inline tw-mt-10">Contact Us</a></li>
          <li class="tw-mt-10"><a href="https://www.16personalities.com/contact-us#faq" class="link--inline tw-mt-10">FAQ</a></li>
          <li class="tw-mt-10"><a href="https://www.16personalities.com/profile/order-history" class="link--inline tw-mt-10">Your Orders</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-body p-sm tw-font-semibold tw-m-0">Our Other Creations</h3>
        <ul class="tw-list-none tw-m-0 tw-p-0">
          <li class="tw-mt-10"><a target="_blank" href="https://npqe.com" title="NPQE®, or NERIS® Personal Quest Explorer, is an interactive, story-based exploration of your personality that's unlike anything you've experienced before." class="link--inline tw-mt-10">NPQE®</a>
          </li>
          <li class="tw-mt-10"><a target="_blank" href="https://16personalities.substack.com" title="A newsletter for business leaders, tailored to help them lead in a more balanced, individualistic, respectful, and capable way." class="link--inline tw-mt-10">Leadership by
              16Personalities</a></li>
          <li class="tw-mt-10"><a target="_blank" href="https://infjby16personalities.substack.com" title="A place to dive deep into all things INFJ (Advocate)-related and to connect with like-minded souls." class="link--inline tw-mt-10">INFJ by 16Personalities</a></li>
        </ul>
      </div>
    </nav>
    <div class="sp-wrap medium:tw-flex medium:tw-justify-between medium:tw-items-start tw-mb-55 huge:tw-mb-0">
      <div class="p-tn">
        <div class="footer__copyright tw-text-gray-rgb-07 medium:tw-max-w-[700px]">
          <a href="//beian.miit.gov.cn/" class="page_copyright">
            <%= beian %>
          </a>
        </div>
        <ul class="footer__links tw-flex tw-list-none tw-m-0 tw-p-0 tw-gap-20">
          <li class="tw-mt-10"><a href="https://www.16personalities.com/terms" class="link--inline">Terms &amp; Conditions</a></li>
          <li class="tw-mt-10"><a href="https://www.16personalities.com/terms/privacy" class="link--inline">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>

</div>