.page {
    background: url(/access/img/app/bg.png) 0 0 / 100% 159px no-repeat #F6F9FF;
    overflow: hidden;
}
.small {
    font-size: 11px;
}
.emoji{
    width: 47px;
    height: 39px;
}
.emoji>img {
    width: 100%;
    height: 100%;
}

.carousel {
    height: 67px;
    border-radius: 9px;
    background: linear-gradient(348deg, #6FA7FF 0%, #B1CFFF 100%);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.grid-container {  
    display: grid;  
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(2, 120px); /* 定义两行，每行高度为100px */  
    grid-gap: 10px; /* 可选：网格项之间的间距 */  
}
.grid-item {  
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;  
    border-radius: 10px;
    font-size: 14px;
}
.grid-left {
    grid-column: 1; /* 放置在第一列 */  
    grid-row: span 2; /* 跨越两行 */  
    background: url(/access/img/app/grid_left.png) 0 0 / 100% 100% no-repeat;
}
.grid-left .version {
    background: linear-gradient(270deg, rgba(139, 178, 255, .6) 0%, rgba(90, 146, 255, .6) 100%);
}
.grid-left .num {
    color: #2e72f5;
    left: 10px;
}
.grid-rec {
    width: 60px;
    background: linear-gradient(270deg, #FF616C 0%, #FF959C 100%);
    border-radius: 11px 11px 11px 0;
    top: -5px;
    right: -6px;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
}

.grid-right_top {
    grid-column: 2; /* 放置在第二列 */  
    grid-row: 1; /* 放置在第一行 */  
    background: url(/access/img/app/grid_right_top.png) 0 0 / 100% 100% no-repeat;
}
.grid-right_top .version {
    background: linear-gradient(270deg, rgba(172, 159, 255, .6) 0%, rgba(149, 137, 255, .6) 100%);
}
.grid-right_top .num {
    color: #9c8dff;
}

.grid-right_bottom {
    grid-column: 2; /* 放置在第二列 */  
    grid-row: 2; /* 放置在第二行 */  
    background: url(/access/img/app/grid_right_bottom.png) 0 0 / 100% 100% no-repeat;
}

.grid-right_bottom .version {
    background: linear-gradient(270deg, rgba(255, 167, 151, .6) 0%, rgba(255, 133, 90, .6) 100%);
}
.grid-right_bottom .num {
    color: #ff885f;
}

.version {
    font-size: 11px;
    padding: 2px 5px;
}
.num {
    font-size: 11px;
    padding: 2px 5px;
    background: rgb(255, 255, 255);
    bottom: 10px;
}

.list-line {
    display: inline-block;
    width: 4px;
    height: 15px;
    background: linear-gradient(360deg, #8BB2FF 0%, #5A92FF 100%);
    border-radius: 2px;
}

.column-title {

}

@keyframes identifier {
    0% {
        transform: translateY(0px);
        box-shadow: none;
    }

    50% {
        transform: translateY( 6px);
       box-shadow: 0 2px 0px 0px #ccc;
    }

    100% {
        transform: translateY( 0px);
        box-shadow: none;
    }
}

.emoji {
    position: absolute;
    animation: identifier 3s infinite;
    right: 0;
}