.main {
    overflow: hidden;
}
.top-bg {
    background-color: #3aa477;
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: -800px;
    z-index: -1;
    border-radius: 50%;
    left: -400px;
}
.head {
    height: 50px;
    position: fixed;
    /* box-shadow: 0 5px 5px #ccc; */
    width: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
}
.box {
    padding: 10px;
}
.mt_60 {
    margin-top: 60px;
}
.img {
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    z-index: 10;
}

.img img {
    width: 100%;
}

.page-btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.content-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
}

.card .card-body {
    padding: .8rem;
    box-sizing: border-box;
    display: flex;
    column-gap: 0.8rem;
}

.card .left {

}


.card .left .avatar {
    width: 80px;
    height: 80px;
}

.card .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card .right .title {
    height: 50px;
    overflow: hidden;
}
.card .right .title h6{
    color: var(--bs-secondary-color);
    line-height: 24px;
}

.card .right .public-data {
    text-align: right;
    color: #ccc;
}

.police {
  text-align: center;
  margin-top: 10px;
  line-height: 100px;
  font-size: 12px;
}