<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index/static/index.css">
  <link rel="stylesheet" href="./index/static/navbar.css">
  <link rel="stylesheet" href="./index/static/tabbar.css">
  <link rel="stylesheet" href="./index/static/goods.css">
  <link rel="stylesheet" href="./index/static/footer.css">

  <title>知己MBTI官方版 | 16Personalities中文版、免费测试</title>
</head>

<body style="zoom: 1;">
  <%- include('./../components/16personalities-navbar'); %>
    <div id="app">
      <!-- 头部 -->
      <div class="header">
        <!--<h1 class="page-title">MBTI人格测试：发现你的性格优势，解锁你的发展潜力。</h1>-->
        <h1 class="page-title">MBTI人格测试中文版</h1>
        <div class="hero">
          <div class="hero__text p-lg">
            <h2>“终于被理解的感觉真好。”</h2>
            <p>只需10分钟，就能“惊人般准确”地描述出你是谁，以及你为何以这样的方式行事。</p>
          </div>
        </div>
        <div id="goods-placehold">
          <div class="row">
              <a href="/app/1.html" class="sp-action sp-button button--action button--purple button--lg button--pill button--auto button--icon-rt" >
                <span class="button__text">MBTI标准版测试</span>
                <span data-v-233b6794="" aria-hidden="true" class="sp-icon size--inherit color--inherit icon--rotatable icon--dir-rt icon--arrow tw-max-h-[60px] tw-max-w-[60px] button__icon--rt">
                  <svg viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg" class="">
                    <path
                      d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z"
                      aria-hidden="true">
                    </path>
                  </svg>
                </span>
              </a>
              <a href="/app/8.html" class="sp-action sp-button button--action button--purple button--lg button--pill button--auto button--icon-rt" style="background-color: #cc8831;">
                <span class="button__text">MBTI专业版测试</span>
                <span data-v-233b6794="" aria-hidden="true" class="sp-icon size--inherit color--inherit icon--rotatable icon--dir-rt icon--arrow tw-max-h-[60px] tw-max-w-[60px] button__icon--rt">
                  <svg viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg" class="">
                    <path
                      d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z"
                      aria-hidden="true">
                    </path>
                  </svg>
                </span>
              </a>
          </div>
          <div class="row flex" style="flex-wrap: wrap;">
            <div class="col" style="flex: initial; padding-left: 0; padding-right: 0;">
              <img class="top_left_img" src="./index/static/index_top_left_img.png" alt="你是I人还是E人？你的16型人格是什么？你最适合的工作什么？什么是i人e人？">
            </div>
            <div class="left_list col">
              <div class="left_list_item">
                如果人格类型是 <span class="yellow">ESTP</span> 型，适合做企业家
              </div>
              <div class="left_list_item">
                如果人格类型是 <span class="yellow">ISFP</span> 型，&nbsp;适合做艺术家
              </div>
              <div class="left_list_item">
                如果人格类型是 <span class="yellow">INTP</span> 型，则适合多数工作
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <img width="377" height="201" class="header-bottom-img" srcset="https://www.16personalities.com/static/images/homepage/header-mountains-mobile.svg 768w, https://www.16personalities.com/static/images/homepage/header-mountains-desktop.svg 1600w"
            sizes="(max-width: 768px) 100vw, 100vw" src="https://www.16personalities.com/static/images/homepage/header-mountains-desktop.svg" alt="一群朋友在火堆旁野餐，背景是树木和山脉">
          <!-- <img class="header-bottom-img" src="./index/static/index_header_bg.png" alt="mbti官网免费版测试入口,16personalities完整中文版,2024版MBTI测试"> -->
        </div>
      </div>

      <!-- 内容 -->
      <div class="block1">
        <h2 class="title">MBTI人格测试的发展历程！</h2>
        <p class="content1">MBTI测评基于瑞士心理学家荣格(Carl Jung)的《人格分类》理论，及美国心理学家迈尔斯(Isabel Briggs Myers)与其母亲凯瑟琳·库克·布里格斯（Katharine Cook Briggs）的实证研究，是国际十分流行的性格测试模型。</p>
        <p class="content1">1979年心理类型学学会(APT) 成立。同年，《心理类型学研究》(Research in Psychological Type)出版，后来的《心理类型学》(sychological Type，简称JPT) 杂志专门致力于MBTI的研究。2001 CPP公司发布了MBTI第二步(Step II) 问卷Q (Form Q)。2018 Myers Briggs公司发布了国际修订版，即全球Step I和全球Step II测评。</p>
        <p class="content1">2024MBTI官网免费版人格测试(16personalities16型人格中文完整版)是依据MBTI理论模型及荣格八维人格测试的理论研究，结合中国本土情况及千万级大数据优化升级的人格测评工具。它具有更高的效度和信度，它是依靠大规模样本实践来验证，并优化迭代的产品。它的试题具有多样性、场景化及多重验效，因此测评精准度更高！</p>
      </div>

      <div class="block2">
        <h2 class="title">选对职业比努力更重要！</h2>
        <img class="img2" src="./index/static/index_img2.png">
        <div class="block2_main">
          <p class="content2">你是否时常感到职场迷茫或怀才不遇？</p>
          <p class="content2">当看到昔日同学去了更好的企业、拿更高的薪水，是否怀疑过自己？</p>
          <p class="content2">无须怀疑！选择重于努力，MBTI会帮你深入了解自己个性并做出正确的选择！</p>
        </div>
      </div>

      <div class="block3">
        <h2 class="title" style="width: 100%;">改善人际关系、助你幸福人生！</h2>
        <img class="img3" src="./index/static/index_img3.png">
        <div class="block3_main">
          <p class="content3">MBTI人格测试可以在恋爱关系、朋友关系、亲子关系等方面，帮助双方更好了解彼此的性格特点和行为模式，进而更好地沟通和理解对方，从而帮助双方建立更好地信任和亲密关系。</p>
          <p class="tip3">
            <span>注:</span>
            <span>《2024MBTI官网免费版人格测试》的报告更加详实和本土化，相较国外版本更加便于阅读与理解。</span>
          </p>
        </div>
      </div>

      <div class="block4">
        <h2 class="title">4大专业维度，16种人格类型</h2>
        <h4 class="smtitle4">帮助你找到适合的职业</h4>
        <div class="block4_main">
          <p class="title4">全维度精准的测评分析报告，可以帮您全方位了解：</p>
          <p class="content4">您的职场性格类型、职业优劣势、适合的岗位特质和匹配的职业。</p>
          <p class="content4">您适合的恋爱关系、朋友关系及人际关系的相处及经营方式。</p>
          <p class="content4">针对您性格特点和优劣势的个人发展建议。</p>
        </div>
        <img class="img4" src="./index/static/index_img4.png" alt="4个维度16人格">
      </div>

      <div class="jump_more">
        <div>
          <!-- <span><a href="/article.html">更多</a></span> -->
          <!-- <img class="more_arrow" src="./index/static/more_arrow.png"> -->
        </div>
      </div>

      <!-- 备案 -->
      <%- include('./../components/footer', {beian: '豫备案ICP备2024050061号' }); %>
        <!-- <p class="beian">mbti.ink©版权所有&nbsp;&nbsp;<a href="https://beian.miit.gov.cn/">豫备案ICP备2024050061号</a></p> -->
    </div>
    <!-- 顶部导航栏、h5 侧边导航栏 -->
    <!-- <script src="./index/static/navbar.js"></script> -->
    <!-- 底部导航栏 -->
    <script src="./index/static/tabbar.js"></script>


    <div class="drawer-menu-mask">
      <div class="drawer-menu">
        <div class="drawer-menu-header">
          <div class="drawer-menu-header-test">开始测试</div>
          <div class="drawer-menu-header-close">
            <img class="drawer-menu-header-close-icon" src="./index/static/drawer_menu_close_icon.png">
          </div>
        </div>
        <div class="drawer-menu-list">
          <a class="drawer-menu-list-item" href="https://16personalities.vip/">测试首页</a>
          <a class="drawer-menu-list-item" href="https://16personalities.vip/personalitytype.html">人格类型</a>
          <a class="drawer-menu-list-item" href="https://16personalities.vip/testprompt.html">测试提示</a>
          <a class="drawer-menu-list-item" href="https://16personalities.vip/article.html">相关文章</a>
        </div>
        <div class="drawer-menu-login">
          登录
        </div>
      </div>
    </div>
    <div class="login-mask">
      <!-- 登录 -->
      <div id="loginPop" class="login">
        <div class="login-title">登录</div>
        <div class="login-block">
          <div class="login-smtitle">电子邮件</div>
          <div class="login-wrapper">
            <div class="login-icon email">
              <img src="./index/static/login_email.png">
            </div>
            <input class="login-input" type="text" placeholder="your@email.com">
          </div>
        </div>
        <div class="login-block">
          <div class="login-smtitle">密码</div>
          <div class="login-wrapper">
            <div class="login-icon password">
              <img src="./index/static/login_password.png">
            </div>
            <input class="login-input" type="password" placeholder="********">
            <div id="passwordvisible" class="login-icon">
              <img src="./index/static/login_password_hide.png">
            </div>
          </div>
        </div>
        <button id="submitLogin" class="login-submit">登录</button>
        <div id="switchForgot" class="login-forgot">忘记密码？</div>
        <div id="loginPopClose" class="login-close">
          <img src="./index/static/login_close_icon.png" class="login-close-icon">
        </div>
      </div>
      <!-- 忘记密码 -->
      <div id="forgotPasswordPop" class="login">
        <div class="login-title">忘记密码？</div>
        <div class="login-tip">输入你的电子邮件地址。</div>
        <div class="login-block">
          <div class="login-smtitle">电子邮件</div>
          <div class="login-wrapper">
            <div class="login-icon email">
              <img src="./index/static/login_email.png">
            </div>
            <input class="login-input" type="text" placeholder="your@email.com">
          </div>
        </div>
        <button id="submitForgot" class="login-submit">发送</button>
        <div id="switchLogin" class="login-forgot">登录</div>
        <div id="forgotPasswordPopClose" class="login-close">
          <img src="./index/static/login_close_icon.png" class="login-close-icon">
        </div>
      </div>
    </div>
    <div class="tabbar">
      <a class="tabbar_item" href="https://16personalities.vip/">
        <img class="tabbar_item_icon" src="./index/static/tabbar_1.png">
        <p class="tabbar_item_title">首页</p>
      </a>
      <a class="tabbar_item" href="/16personalities.html">
        <img class="tabbar_item_icon" src="./index/static/tabbar_2.png">
        <p class="tabbar_item_title">类型</p>
      </a>
      <a class="tabbar_item" href="javascript:void(0)" onclick="jumpStandard()">
        <img class="tabbar_item_icon" src="./index/static/tabbar_3.png">
        <p class="tabbar_item_title">标准版测试</p>
      </a>
      <a class="tabbar_item" href="javascript:void(0)" onclick="jumpProfessional()">
        <img class="tabbar_item_icon" src="./index/static/tabbar_4.png">
        <p class="tabbar_item_title">专业版测试</p>
      </a>
    </div>
    <div class="tabbar-holder"></div>
</body>

</html>
<script>var viewWidth = window.innerWidth; viewWidth > 500 && (viewWidth = 500), document.documentElement.style.fontSize = viewWidth / 39 + "px"</script>