<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>性格测试 | 16Personalities</title>
  <link rel="stylesheet" href="/16personalities/style.css">
  <link rel="stylesheet" href="/index/static/navbar.css">
  <link rel="stylesheet" href="/id/style.css">
  <link rel="stylesheet" href="/id/style1.css">
  <link rel="stylesheet" href="/id/aw50zxlszxm--B5xG79hP.css">
</head>

<body>
  <div id="main-app" class="g-wrp int ch">
    <%- include('./../components/16personalities-navbar'); %>
      <main id="test-app" class="q-pt">
        <header>
          <h1>200题-完整版</h1>
        </header>
        <section class="tips">
          <div class="tip">
            <div class="background"></div>
            <img src="https://www.16personalities.com/static/images/test-header-2.svg">
            <div class="text">
              <div class="title">
                做你自己，诚实回答，找出你的性格类型。
              </div>
            </div>
          </div>
          <div class="tip">
            <img src="https://www.16personalities.com/static/images/academy/explorers/icons/theory.svg">
            <div class="text">
              <div class="title">
                了解你的性格类型如何在你生活的各个领域中产生影响。
              </div>
            </div>
          </div>
          <div class="tip last">
            <img src="https://www.16personalities.com/static/images/academy/analysts/exercise.svg">
            <div class="text">
              <div class="title">
                借助我们的精选材料，塑造你想要的自我。
              </div>
            </div>
          </div>
          <div class="shape"></div>
          <div class="shadow"></div>
        </section>
        <div id="main-app">
          <div>
            <div data-chunk="quiz-chunk">
                <div id="form-container" class="questions">
                  <% list.forEach(function(item) { %>
                    <div class="input__label">
                        <span class="statement text-center">
                        <span class="sr-only">Question 1 of 60.</span>
                        <%= item.question %>
                      </span>
                    </div>
                    <div class="group__options">
                      <div class="option option-left">
                        同意
                      </div>
                      <div class="option option-right">
                        反对
                      </div>
                    </div>
                  <% }) %>
                </div>
                <div class="action-row">
                  <button type="button" class="sp-action sp-button button--action button--purple button--lg button--pill button--fixed button--icon-rt" aria-label="Go to next set of questions">
                    <span class="button__text">下一个</span>
                    <span data-v-683dd134="" class="sp-icon size--inherit color--inherit icon--rotatable icon--dir-rt icon--arrow button__icon--rt">
                      <svg aria-labelledby="i_tiifo832yt" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                        <title id="i_tiifo832yt">Go</title>
                        <path
                          d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z">
                        </path>
                      </svg>
                    </span>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <!-- <%- include('./../components/16personalities-footer'); %> -->
      </main>
  </div>
</body>
<script>
 const list = [{
  id: '1',
  question:'你经常交新朋友。',
  checked: '',
  answer: [
        { key: "我强烈同意",value: '-3', class: 'size--70 color--green'},
        { key: "我比较同意",value: '-2', class: 'size--56 color--green'},
        { key: "我同意",value: '-1', class: 'size--46 color--green'},
        { key: "我不确定",value: '0', class: 'size--36 color--neutral'},
        { key: "我不同意",value: '1', class: 'size--46 color--purple'},
        { key: "我比较不同意",value: '2', class: 'size--56 color--purple'},
        { key: "我强烈不同意",value: '3', class: 'size--70 color--purple'}
  ]
}]
function render(){
  return list.map(item=>{
    return  `<fieldset >
        <legend id="" class="sr-only">
          <span class="statement text-center">
            <span class="sr-only">Question 1 of 60.</span>
            ${item.question}
          </span>
        </legend>
        <div class="input__label">
            <span class="statement text-center">
            <span class="sr-only">Question 1 of 60.</span>
            ${item.question}
          </span>
        </div>
        <div data-groupoptions="" class="group__options">
          <div class="captions--desktop caption agree text--green">
            同意
          </div>

          <div class="captions--desktop caption disagree text--purple">
            反对
          </div>
        </div>
      </fieldset>`
  }).join('')

}
const tempalte = render()

// var box = document.getElementById('form-container').innerHTML = tempalte
function radioClick(id,value){
  console.log(id,value);
  var question = list.find(e=>{
    console.log(e.id);
    return e.id==id
  })
  question.checked = String(value) 
  const tempalte = render()
  // var box = document.getElementById('form-container').innerHTML = tempalte
}
</script>
</html>