body, p {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
}
.header {
  width: 100%;
  /* height: calc((1188 / 1920) * 100vw); */
  background-color: #4298b4;
  background-size: 100% calc((1130 / 1920) * 100vw);
  background-repeat: no-repeat;
  clip-path: polygon(0% 1%, 24% 4%, 60% 0%, 85% 4%, 100% 1%, 100% 100%, 0% 100%);
  padding-top: calc((94 / 1920) * 100vw);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header .hero {
  color: #fff
}

.header .hero__shape {
  display: block;
  width: 100%;
  height: 8px;
  background-color: #4298b4;
  transform: rotate(180deg) scaleY(-1)
}

.header .hero__shape path {
  fill: #fff
}

.header .hero__text {
  padding: 0px 15px;
  background-color: #4298b4
}

.header .hero__text h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 1080px
}

.header .hero__text p {
  margin-bottom: 20px;
  max-width: 640px
}

.page-title {
  width: 100%;
  font-size: calc((44 / 1920) * 100vw);
  color: #FFF;
  text-align: center;
  margin: 0 0 calc((50 / 1920) * 100vw);
}
.header-bottom {
  width: 100%;
  /* height: calc(100vw * (620 / 1920)); */
  /* position: absolute; */
  bottom: 0;
  left: 0;
}
.header-bottom-img {
  display: block;
  width: 100%;
  height: auto;
}
/* .header-bottom-img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
} */
.top_msg {
  display: flex;
  gap: 15px;
  margin: 20px 15px 0;
  column-gap: calc((140 / 1920) * 100vw);
  margin-bottom: calc((50 / 1920) * 100vw);
}
.top_left {
  display: flex;
  flex-wrap: wrap;
}
.top_left_img {
  width: calc((500 / 1920) * 100vw);
  /* height: calc((150 / 1920) * 100vw); */
  /* margin-bottom: calc((24 / 1920) * 100vw); */
}
.top_right_img {
  width: calc((500 / 1920) * 100vw);
  /* height: calc((188 / 1920) * 100vw); */
}
.left_list {
  display: flex;
  flex-direction: column;
  gap: calc((16 / 1920) * 100vw) 0;
}
.left_list_item {
  font-size: calc((20 / 1920) * 100vw);
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 0 calc((12 / 1920) * 100vw);
}
.left_list_item::before {
  content: '';
  width: calc((4 / 1920) * 100vw);
  height: calc((20 / 1920) * 100vw);
  background-color: #FFE601;
}
.yellow {
  color: #FFE601;
}
.right_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_list_item_icon {
  width: calc((42 / 1920) * 100vw);
  height: calc((42 / 1920) * 100vw);
  border-radius: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(85,85,85,0.1);
}
.right_list_item_icon_url1 {
  width: calc((20 / 1920) * 100vw);
  height: calc((22 / 1920) * 100vw);
}
.right_list_item_icon_url2 {
  width: calc((22 / 1920) * 100vw);
  height: calc((22 / 1920) * 100vw);
}
.right_list_item_icon_url3 {
  width: calc((26 / 1920) * 100vw);
  height: calc((26 / 1920) * 100vw);
}
.right_list_item_title {
  font-size: calc((18 / 1920) * 100vw);
  color: #FFF;
  margin-top: calc((16 / 1920) * 100vw);
  margin-bottom: calc((5 / 1920) * 100vw);
}
.right_list_item_tip {
  font-size: calc((16 / 1920) * 100vw);
  color: #FFF;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 0 calc((56 / 1920) * 100vw);
  position: relative;
}
.submit-left {
  width: calc((360 / 1920) * 100vw);
  height: calc((64 / 1920) * 100vw);
  border-radius: calc((64 / 1920) * 100vw);
  background-color: #00B6BC;
  font-size: calc((24 / 1920) * 100vw);
  color: #FFF;
  outline: none;
  border: none;
  box-shadow: 0px 4px 6px rgba(0,80,103,0.2);
  cursor: pointer;
}
.submit-right {
  width: calc((360 / 1920) * 100vw);
  height: calc((64 / 1920) * 100vw);
  border-radius: calc((64 / 1920) * 100vw);
  background-color: #D29429;
  font-size: calc((24 / 1920) * 100vw);
  color: #FFF;
  outline: none;
  border: none;
  box-shadow: 0px 4px 6px rgba(103,62,0,0.14);
  cursor: pointer;
}
.title {
  font-size: calc((44 / 1920) * 100vw);
  color: #343C4B;
  text-align: center;
  margin: 0;
}
.block1 {
  width: calc((960 / 1920) * 100vw);
  margin: calc((120 / 1920) * 100vw) auto calc((100 / 1920) * 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc((50 / 1920) * 100vw);
}
.content1 {
  font-size: calc((20 / 1920) * 100vw);
  color: #505050;
  line-height: 34px;
}
.block2 {
  width: 100%;
  height: calc(100vw * (830 / 1920));
  clip-path: polygon(
    0 1%, 20% 8%, 45% 0, 80% 8%, 100% 1%,
    100% 92%, 80% 100%, 48% 92%, 19% 100%, 0 92%);
  background-color: #F6F6F7;
  padding-top: calc((100 / 1920) * 100vw);
  box-sizing: border-box;
  position: relative;
}
.block2_main {
  position: absolute;
  top: calc((244 / 1920) * 100vw);
  left: calc((360 / 1920) * 100vw);
}
.content2 {
  font-size: calc((20 / 1920) * 100vw);
  color: #505050;
  line-height: 20px;
  margin-bottom: calc((40 / 1920) * 100vw);
}
.img2 {
  width: calc(100vw * (570 / 1920));
  display: block;
  pointer-events: none;
  position: absolute;
  top: calc((268 / 1920) * 100vw);
  left: calc((990 / 1920) * 100vw);
}
.block3 {
  width: 100%;
  height: calc((673 / 1920) * 100vw);
  padding-top: calc((90 / 1920) * 100vw);
  box-sizing: border-box;
  position: relative;
}
.img3 {
  width: calc(100vw * (510 / 1920));
  display: block;
  pointer-events: none;
  position: absolute;
  top: calc((193 / 1920) * 100vw);
  left: calc((1050 / 1920) * 100vw);
}
.block3_main {
  width: calc((550 / 1920) * 100vw);
  position: absolute;
  top: calc((234 / 1920) * 100vw);
  left: calc((360 / 1920) * 100vw);
}
.content3 {
  font-size: calc((20 / 1920) * 100vw);
  color: #505050;
  line-height: calc((30 / 1920) * 100vw);
  margin-bottom: calc((54 / 1920) * 100vw);
}
.tip3 {
  font-size: calc((20 / 1920) * 100vw);
  color: #999;
  line-height: calc((27 / 1920) * 100vw);
  display: flex;
  gap: 0 3px;
}
.block4 {
  width: 100%;
  height: calc(100vw * (820 / 1920));
  clip-path: polygon(
    0 1%, 20% 8%, 45% 0, 80% 8%, 100% 1%,
    100% 92%, 80% 100%, 48% 92%, 19% 100%, 0 92%);
  background-color: #F6F6F7;
  padding-top: calc((120 / 1920) * 100vw);
  box-sizing: border-box;
  position: relative;
}
.smtitle4 {
  font-size: calc((24 / 1920) * 100vw);
  color: #343C4B;
  margin-top: calc((30 / 1920) * 100vw);
  text-align: center;
}
.img4 {
  width: calc((600 / 1920) * 100vw);
  display: block;
  pointer-events: none;
  position: absolute;
  top: calc((310 / 1920) * 100vw);
  left: calc((1080 / 1920) * 100vw);
}
.block4_main {
  position: absolute;
  top: calc((319 / 1920) * 100vw);
  left: calc((360 / 1920) * 100vw);
}
.title4 {
  font-size: calc((28 / 1920) * 100vw);
  font-weight: bold;
  color: #343C4B;
  margin-bottom: calc((50 / 1920) * 100vw);
}
.content4 {
  font-size: calc((20 / 1920) * 100vw);
  color: #505050;
  margin-bottom: calc((24 / 1920) * 100vw);
}
.block5 {
  width: 100%;
  height: calc((1165 / 1920) * 100vw);
  padding-top: calc((100 / 1920) * 100vw);
}
.img5 {
  width: calc((796 / 1920) * 100vw);
  display: block;
  pointer-events: none;
  margin: calc((46 / 1920) * 100vw) auto 0;
}
.img5_mobile {
  display: none;
}
.article-title {
  max-width: 1050px;
  width: 93.6vw;
  margin: 0 auto;
  text-align: left;
}
.article_list {
  max-width: 1050px;
  width: 93.6vw;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 50px;
  margin: calc((50 / 1920) * 100vw) auto 0;
}
.article_list_item {
  width: calc((100% - 50px) / 2);
  max-width: 500px;
  height: 84px;
  border-radius: 8px;
  background-color: #F4FBFD;
  font-size: 20px;
  font-weight: bold;
  color: #257B98;
  display: flex;
  align-items: center;
  gap: 0 12px;
  padding: 0 32px;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.article_list_item::before {
  content: '';
  width: 4px;
  height: 20px;
  background-color: #4298B4;
}	
.jump_more {
  max-width: 1050px;
  width: 93.6vw;
  font-size: 20px;
  color: #505050;
  /* margin: 40px auto 0; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.jump_more > div {
  cursor: pointer;
}
.more_arrow {
  width: 14px;
  height: 14px;
}
.beian {
  font-size: 14px;
  color: #505050;
  margin: 100px 0;
  text-align: center;
}
a {
	color: #505050;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    /* height: calc((837 / 375) * 100vw); */
    background-size: 100% calc((800 / 375) * 100vw);
    clip-path: polygon(0% 0%, 17% 1.2%, 60% 0%, 85% 1.2%, 100% 0.2%, 100% 100%, 0% 100%);
    padding-top: calc((30 / 375) * 100vw);
  }
  .page-title {
    width: 100%;
    padding: 0 calc((20 / 375) * 100vw);
    box-sizing: border-box;
    font-size: calc((22 / 375) * 100vw);
    text-align: left;
    margin: 0 0 calc((26 / 375) * 100vw);
  }
  .header-bottom {
    /* height: calc((121 / 375) * 100vw); */
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
  }
  /* .header-bottom-img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: contain;
  } */
  .top_msg {
    display: flex;
    margin: 20px 15px 0;
    flex-direction: column;
    align-items: center;
    row-gap: calc((25 / 375) * 100vw);
    /* margin-bottom: calc((30 / 375) * 100vw); */
  }
  .top_left_img {
    width: calc((351 / 375) * 100vw);
    height: calc((130 / 375) * 100vw);
    /* margin-bottom: calc((20 / 375) * 100vw); */
  }
  .top_right_img {
    width: calc((369 / 375) * 100vw);
    height: calc((148 / 375) * 100vw);
  }
  .left_list {
    column-gap: calc((12 / 375) * 100vw) 0;
  }
  .right_list {
    padding: 0 calc((14 / 375) * 100vw);
    box-sizing: border-box;
  }
  .left_list_item {
    font-size: calc((14 / 375) * 100vw);
    gap: 0 calc((8 / 375) * 100vw);
  }
  .left_list_item::before {
    content: '';
    width: calc((3 / 375) * 100vw);
    height: calc((14 / 375) * 100vw);
  }
  .right_list_item_icon {
    width: calc((43 / 375) * 100vw);
    height: calc((43 / 375) * 100vw);
  }
  .right_list_item_icon_url1 {
    width: calc((23 / 375) * 100vw);
    height: calc((26 / 375) * 100vw);
  }
  .right_list_item_icon_url2 {
    width: calc((26 / 375) * 100vw);
    height: calc((26 / 375) * 100vw);
  }
  .right_list_item_icon_url3 {
    width: calc((31 / 375) * 100vw);
    height: calc((31 / 375) * 100vw);
  }
  .right_list_item_title {
    font-size: calc((14 / 375) * 100vw);
    margin-top: calc((8 / 375) * 100vw);
    margin-bottom: calc((5 / 375) * 100vw);
  }
  .right_list_item_tip {
    font-size: calc((12 / 375) * 100vw);
    color: #FFF;
  }
  .btn-group {
    gap: 0 calc((14 / 375) * 100vw);
  }
  .submit-left {
    width: calc((160 / 375) * 100vw);
    height: calc((40 / 375) * 100vw);
    border-radius: calc((40 / 375) * 100vw);
    font-size: calc((16 / 375) * 100vw);
  }
  .submit-right {
    width: calc((160 / 375) * 100vw);
    height: calc((40 / 375) * 100vw);
    border-radius: calc((40 / 375) * 100vw);
    font-size: calc((16 / 375) * 100vw);
  }
  .title {
    width: calc((312 / 375) * 100vw);
    font-size: calc((24 / 375) * 100vw);
    margin: 0 auto;
  }
  .block1 {
    width: calc((335 / 375) * 100vw);
    margin: calc((50 / 375) * 100vw) auto calc((40 / 375) * 100vw);
    gap: calc((30 / 375) * 100vw);
  }
  .content1 {
    font-size: calc((16 / 375) * 100vw);
    line-height: calc((25 / 375) * 100vw);
  }
  .block2 {
    width: 100%;
    height: calc(100vw * (530 / 375));
    clip-path: polygon(
      0 0.5%, 20% 3%, 45% 0, 80% 2.5%, 100% 1%,
      100% 97%, 80% 100%, 48% 97%, 19% 100%, 0 96.5%);
    padding-top: calc((50 / 375) * 100vw);
  }
  .block2_main {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: calc((25 / 375) * 100vw);
  }
  .content2 {
    width: 100%;
    padding: 0 calc((20 / 375) * 100vw);
    box-sizing: border-box;
    font-size: calc((16 / 375) * 100vw);
    line-height: calc((25 / 375) * 100vw);
    margin-bottom: calc((20 / 375) * 100vw);
  }
  .img2 {
    width: calc((300 / 375) * 100vw);
    display: block;
    pointer-events: none;
    position: absolute;
    top: calc((280 / 375) * 100vw);
    left: calc((30 / 375) * 100vw);
  }
  .block3 {
    height: calc((612 / 375) * 100vw);
    padding-top: calc((50 / 375) * 100vw);
  }
  .img3 {
    width: calc((300 / 375) * 100vw);
    position: absolute;
    top: calc((332 / 375) * 100vw);
    left: calc((38 / 375) * 100vw);
  }
  .block3_main {
    width: calc((335 / 375) * 100vw);
    position: relative;
    top: 0;
    left: 0;
    margin: calc((30 / 375) * 100vw) auto;
  }
  .content3 {
    font-size: calc((16 / 375) * 100vw);
    line-height: calc((25 / 375) * 100vw);
    margin-bottom: calc((36 / 375) * 100vw);
  }
  .tip3 {
    font-size: calc((14 / 375) * 100vw);
    line-height: calc((16 / 375) * 100vw);
    display: block;
  }
  .block4 {
    width: 100%;
    height: calc(100vw * (700 / 375));
    clip-path: polygon(
      0 0.5%, 20% 3%, 45% 0, 80% 2.5%, 100% 1%,
      100% 97%, 80% 100%, 48% 97%, 19% 100%, 0 96.5%);
    padding-top: calc((50 / 375) * 100vw);
  }
  .smtitle4 {
    font-size: calc((14 / 375) * 100vw);
    color: #999;
    margin-top: calc((20 / 375) * 100vw);
  }
  .img4 {
    width: calc((355 / 375) * 100vw);
    position: absolute;
    top: calc((440 / 375) * 100vw);
    left: calc((10 / 375) * 100vw);
  }
  .block4_main {
    width: calc((335 / 375) * 100vw);
    position: relative;
    top: 0;
    left: 0;
    margin: calc((30 / 375) * 100vw) auto 0;
  }
  .title4 {
    font-size: calc((18 / 375) * 100vw);
    margin-bottom: calc((30 / 375) * 100vw);
  }
  .content4 {
    font-size: calc((16 / 375) * 100vw);
    margin-bottom: calc((30 / 375) * 100vw);
  }
  .block5 {
    width: 100%;
    height: calc((1065 / 375) * 100vw);
    padding-top: calc((50 / 375) * 100vw);
  }
  .img5 {
    display: none;
  }
  .img5_mobile {
    width: calc((341 / 375) * 100vw);
    margin: calc((31 / 375) * 100vw) auto 0;
    display: block;
  }
  .article-title {
    text-align: center;
  }
  .article_list {
    width: calc((335 / 375) * 100vw);
    display: flex;
    flex-direction: column;
    gap: calc((12 / 375) * 100vw) 0;
    margin: calc((24 / 375) * 100vw) auto 0;
  }
  .article_list_item {
    width: 100%;
    height: calc((44 / 375) * 100vw);
    border-radius: calc((8 / 375) * 100vw);
    font-size: calc((16 / 375) * 100vw);
    gap: 0 calc((12 / 375) * 100vw);
    padding: 0 calc((16 / 375) * 100vw);
  }
  .article_list_item::before {
    content: '';
    width: calc((4 / 375) * 100vw);
    height: calc((16 / 375) * 100vw);
  }
  .jump_more {
    font-size: calc((14 / 375) * 100vw);
    margin-top: calc((24 / 375) * 100vw);
    justify-content: center;
  }
  .more_arrow {
    width: calc((10 / 375) * 100vw);
    height: calc((10 / 375) * 100vw);
  }
  .beian {
    font-size: calc((12 / 375) * 100vw);
    margin: calc((30 / 375) * 100vw) 0;
  }
}

@media (min-width: 768px) {
  .header .hero__shape {
      height:16px
  }

  .header .hero__text {
      padding: 0px 20px 0px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column
  }

  .header .hero__text h2 {
      margin-bottom: 20px
  }

  .header .hero__text p {
      margin-bottom: 30px
  }

}

@media (min-width: 992px) {
  .header .hero__text {
      padding:0px 20px 0px
  }
}

@media (min-width: 1200px) {
  .header .hero__shape {
      height:40px
  }
}