<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="/access/bootstrap@5.3.0-alpha1/css/bootstrap.min.css" />
    <script src="/access/bootstrap@5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/16personalities/style.css">
    <link rel="stylesheet" href="/16personalities/ag9tzxbhz2u--Co-J4gnD.css">
    <link rel="stylesheet" href="/16personalities/yxbwyxbw--BxtxZlwU.css">
    <title>免费性格测试、类型描述、人际关系和职业建议 | 16Personalities</title>
    <style>
        .container {
            max-width: 480px;
        }
    </style>
</head>

<body>
    <div id="main-app" class="g-wrp int ch">
        <%- include('./../components/16personalities-navbar'); %>
        <main class="q-hm">
            <div class="hero">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 60" preserveAspectRatio="none" aria-hidden="true" class="angular-1920-1 hero__shape hero__shape--top">
                    <path d="m0 20 420 40L800 0l750 60 370-45V0H0z"></path>
                </svg>
                <div class="hero__text p-lg">
                    <h1>“终于被理解的感觉真好。”</h1>
                    <p>只需10分钟，就能“惊人般准确”地描述出你是谁，以及你为何以这样的方式行事。</p>
                    <a href="/app/ch" class="sp-action sp-button button--action button--purple button--lg button--pill button--auto button--icon-rt">
                        <span class="button__text">参加测试</span>
                        <span data-v-683dd134="" class="sp-icon size--inherit color--inherit icon--rotatable icon--dir-rt icon--arrow button__icon--rt" aria-hidden="true">
                            <svg aria-labelledby="i_d9wvywxcbt" viewBox="0 0 48 48" role="img"
                                xmlns="http://www.w3.org/2000/svg">
                                <title id="i_d9wvywxcbt">Go</title>
                                <path
                                    d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z">
                                </path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="scene">
                <img width="377" height="201" srcset="http://xek.dlsjf.top/net_image/header-mountains-mobile.svg 768w, http://xek.dlsjf.top/net_image/header-mountains-desktop.svg 1600w" sizes="(max-width: 768px) 100vw, 100vw"
                    src="http://xek.dlsjf.top/net_image/header-mountains-desktop.svg" alt="A group of friends having a picnic around a fire, with trees and mountains in the background">
            </div>
        </main>
        <%- include('./../components/16personalities-footer'); %>
        <div style="height: 100px;"></div>
    </div>
    <script src="https://hm.baidu.com/hm.js?ad0c7ae274a12383e8fc3b19401019da"></script>

</html>