body {
    color: #343c4b
}

body.has--error-modal #main-app>main {
    filter: none
}

.g-wrp.int {
    font-family: var(--font-family-text)
}

.g-wrp.int.az,.g-wrp.int.bg,.g-wrp.int.el,.g-wrp.int.kk,.g-wrp.int.mn,.g-wrp.int.ru,.g-wrp.int.uk,.g-wrp.int.uz,.g-wrp.int.vi {
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.rtl p,.g-wrp.int.rtl h1,.g-wrp.int.rtl h2,.g-wrp.int.rtl h3,.g-wrp.int.rtl h4,.g-wrp.int.rtl h5,.g-wrp.int.rtl .nav a,.g-wrp.int.rtl table,.g-wrp.int.rtl blockquote,.g-wrp.int.rtl .btn,.g-wrp.int.rtl .sp-nav__mobile .menu,.g-wrp.int.rtl .description-pullout,.g-wrp.int.rtl textarea,.g-wrp.int.rtl .sp-bubble {
    direction: rtl
}

.g-wrp.int.rtl .sp-nav__mobile .menu .avatar {
    margin-right: 5px;
    margin-left: 10px
}

.g-wrp.int.rtl .sp-dropdown-menu {
    direction: rtl
}

.g-wrp.int.rtl .sp-dropdown-menu .sp-listbox .listbox__option .sp-icon {
    margin: 0 0 0 6px
}

.g-wrp.int.rtl blockquote,.g-wrp.int.rtl .description-pullout {
    border: none;
    border-right: 3px solid #33A474
}

.g-wrp.int.rtl blockquote {
    font-style: normal;
    padding-left: 0;
    padding-right: 30px
}

.g-wrp.int.rtl blockquote p {
    border: none
}

.g-wrp.int.rtl .analyst blockquote,.g-wrp.int.rtl .analyst .description-pullout {
    border-color: #88619a
}

.g-wrp.int.rtl .sentinel blockquote,.g-wrp.int.rtl .sentinel .description-pullout {
    border-color: #4298b4
}

.g-wrp.int.rtl .explorer blockquote,.g-wrp.int.rtl .explorer .description-pullout {
    border-color: #e4ae3a
}

.g-wrp.int.rtl main.q-hm {
    text-align: right
}

.g-wrp.int.rtl main.q-pt .tips {
    direction: rtl
}

.g-wrp.int.rtl main.q-pt .question {
    direction: rtl;
    font-size: 1.2em
}

.g-wrp.int.rtl main.q-pt .question.sp-circles .input__label {
    font-size: 1.35rem;
    max-width: 900px
}

.g-wrp.int.rtl main.q-pt .question.sp-circles .captions--desktop {
    flex-basis: 130px
}

.g-wrp.int.rtl main.q-pt .question.sp-circles .captions--desktop.agree {
    text-align: left
}

.g-wrp.int.rtl main.q-pt .question .caption.disagree {
    text-align: left
}

.g-wrp.int.rtl .q-td .user-results__avatar {
    direction: rtl
}

.g-wrp.int.rtl .q-td .user-results__avatar-details {
    margin-left: 0!important;
    margin-right: 20px!important
}

.g-wrp.int.rtl .q-td .sections .sections__link.link--icon-lt .sp-icon {
    order: 9999;
    margin-left: 0!important;
    margin-right: 5px!important
}

.g-wrp.int.rtl .type-info .code strong {
    margin-right: 0!important;
    margin-left: 5px
}

.g-wrp.int.rtl .type-info,.g-wrp.int.rtl .trait-scales .caption,.g-wrp.int.rtl .quiz__results .results__intro,.g-wrp.int.rtl .quiz__results .results__type__snippet,.g-wrp.int.rtl .quiz__results .results__trait__description,.g-wrp.int.rtl .quiz__results input {
    direction: rtl
}

.g-wrp.int.rtl .quiz__results h3.card__trait,.g-wrp.int.rtl .quiz__results .results__trait__description,.g-wrp.int.rtl .quiz__results .email__form .input__label {
    text-align: right!important
}

.g-wrp.int.rtl main.q-tl .type {
    font-size: 1.1em
}

.g-wrp.int.rtl main.q-tl .type .snippet {
    direction: rtl
}

.g-wrp.int.rtl main.contact-us .email,.g-wrp.int.rtl main.contact-us .company-info,.g-wrp.int.rtl main.contact-us .social-icons {
    direction: rtl
}

.g-wrp.int.rtl main.contact-us .social-icons .icon {
    margin: 0 0 0 10px
}

.g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
    font-size: 2.7em
}

.g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
    margin-top: -15px
}

.g-wrp.int.ar,.g-wrp.int.fa {
    --font-family-text: "Noto Sans Arabic", "Noto Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.ar .q-td .sidebar.left nav ul li,.g-wrp.int.fa .q-td .sidebar.left nav ul li {
    line-height: 1.3
}

.g-wrp.int.az main.q-tl h2 {
    font-size: 2.75rem
}

.g-wrp.int.bn {
    --font-family-text: "Noto Sans Bengali", "Noto Sans", "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.bn main.q-tl h2 {
    font-size: 2.75rem
}

.g-wrp.int.br main.q-tl h1,.g-wrp.int.pt main.q-tl h1 {
    font-size: 1.5rem
}

.g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
    font-size: 2.8rem
}

.g-wrp.int.ch {
    --font-family-text: "Noto Sans SC", "Noto Sans", "Inter", "Helvetica Neue", Arial, sans-serif
}

.g-wrp.int.tw {
    --font-family-text: "Noto Sans TC", "Noto Sans", "Inter", "Helvetica Neue", Arial, sans-serif
}

.g-wrp.int.ch,.g-wrp.int.tw {
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.ch main.q-pt section.tips .tip:nth-of-type(2n),.g-wrp.int.tw main.q-pt section.tips .tip:nth-of-type(2n) {
    word-break: keep-all
}

.g-wrp.int.ch main.q-hm .hero__text p,.g-wrp.int.tw main.q-hm .hero__text p {
    max-width: 800px
}

.g-wrp.int.ch .sp-button,.g-wrp.int.tw .sp-button {
    font-weight: 400
}

.g-wrp.int.ch em,.g-wrp.int.tw em,.g-wrp.int.ja em,.g-wrp.int.ko em {
    font-style: normal
}

.g-wrp.int.de .quiz__results .card__trait-info .card__trait {
    font-size: var(--font-h4-size-bp-sm);
    line-height: var(--font-h4-line-height-bp-sm);
    letter-spacing: var(--font-h4-spacing-bp-sm)
}

.g-wrp.int.de .profile__section.profile__section--preferences .prefs__gender .group__options {
    min-width: 260px
}

.g-wrp.int.el main.q-tl h2 {
    font-size: 2.8rem
}

.g-wrp.int.es main.q-tl h2 {
    font-size: 2.5rem
}

.g-wrp.int.fa {
    width: 100%;
    font-weight: initial
}

.g-wrp.int.fi main.q-tl h1,.g-wrp.int.hu main.q-tl h1,.g-wrp.int.pl main.q-tl h1,.g-wrp.int.br main.q-tl h1,.g-wrp.int.ru main.q-tl h1 {
    font-size: 1.5rem
}

.g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
    font-size: 2.6rem
}

.g-wrp.int.is main.q-tl h1 {
    font-size: 1.5rem
}

.g-wrp.int.is main.q-tl h2 {
    font-size: 2.6rem
}

.g-wrp.int.is .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.is .quiz__results .results__cards .card__actions .action__next {
    width: 160px
}

.g-wrp.int.fr main.q-tl h2 {
    font-size: 2.4rem
}

.g-wrp.int.he {
    --font-family-text: "Noto Sans Hebrew", "Noto Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.hi {
    --font-family-text: "Noto Sans Devanagari", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.hy {
    --font-family-text: "Noto Sans Armenian", "Noto Sans", "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.hy main.q-tl h1 {
    word-break: normal;
    padding: 0 15px
}

.g-wrp.int.hy main.q-tl h2 {
    font-size: 1.9rem
}

.g-wrp.int.hy main.q-pt .action-row .sp-button {
    max-width: 330px;
    margin: 0 15px
}

.g-wrp.int.ja {
    --font-family-text: "Noto Sans JP", "Noto Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.ka {
    --font-family-text: "Noto Sans Georgian", "Noto Sans", "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.ka main.q-tl h1 {
    word-break: normal;
    padding: 0 15px
}

.g-wrp.int.ka main.q-tl h2 {
    font-size: 2rem
}

.g-wrp.int.ka .quiz__results .results__cards .results__intro,.g-wrp.int.ka .quiz__results .results__cards .results__type__name {
    text-align: center
}

.g-wrp.int.ka .quiz__results .results__cards .results__type__snippet {
    margin-bottom: 10px
}

.g-wrp.int.kk main.q-hm .hero__text p {
    max-width: 700px
}

.g-wrp.int.kk main.q-tl h2 {
    font-size: 2.5rem
}

.g-wrp.int.ko {
    --font-family-text: "Noto Sans KR", "Noto Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text);
    word-break: keep-all
}

.g-wrp.int.ko article {
    word-break: keep-all
}

.g-wrp.int.mn main.q-hm .hero__text h1 {
    max-width: 850px
}

.g-wrp.int.mn main.q-hm .hero__text p {
    max-width: 700px
}

.g-wrp.int.mn main.q-tl h1 {
    font-size: 1.5rem
}

.g-wrp.int.mn main.q-tl h2 {
    font-size: 2.5rem
}

.g-wrp.int.mn .sp-typeheader .sidebar.left img {
    display: none
}

.g-wrp.int.mn main.q-pt .captions--mobile .caption.disagree {
    text-align: right
}

.g-wrp.int.ms main.q-hm .hero__text h1 {
    max-width: 850px
}

.g-wrp.int.ms main.q-hm .hero__text p {
    max-width: 700px
}

.g-wrp.int.ms main.q-tl h2 {
    font-size: 2.75rem
}

.g-wrp.int.no main.q-tl h2 {
    font-size: 3rem
}

.g-wrp.int.sw main.q-tl h2 {
    font-size: 2.3rem
}

.g-wrp.int.th {
    --font-family-text: "Noto Sans Thai", "Noto Sans", "Inter", "Helvetica Neue", "Arial", sans-serif;
    --font-family-titles: var(--font-family-text)
}

.g-wrp.int.uz main.q-hm .hero__text p {
    max-width: 700px
}

.g-wrp.int.uz main.q-tl h2 {
    font-size: 2.6rem
}

.g-wrp.int.uz .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.uz .quiz__results .results__cards .card__actions .action__next {
    width: 160px
}

.g-wrp.int.vi main.q-hm .hero__text p {
    max-width: 750px
}

.g-wrp.int.vi main.q-tl h2 {
    font-size: 2.75rem
}

.g-wrp.int .navbar {
    position: sticky;
    z-index: 22
}

.g-wrp.int .navbar .right-section {
    display: flex
}

.g-wrp.int .navbar .right-section .language-link {
    display: inline-flex;
    align-items: center;
    color: #343c4b;
    margin-right: 10px
}

.g-wrp.int .navbar .right-section .language-link .sp-icon.color--inherit g,.g-wrp.int .navbar .right-section .language-link .sp-icon.color--inherit path,.g-wrp.int .navbar .right-section .language-link .sp-icon.color--inherit polygon {
    fill: #343c4b
}

.g-wrp.int .navbar .right-section .language-link .lang--full {
    display: none
}

.g-wrp.int .navbar .right-section .language-link .lang--flag {
    width: 16px;
    position: relative;
    display: flex
}

.g-wrp.int .navbar .right-section .language-link .lang--flag:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(81,89,106,.15)
}

.g-wrp.int .navbar .right-section .language-link .lang--flag img {
    width: 100%;
    height: 100%
}

.g-wrp.int blockquote p,.g-wrp.int .description-pullout {
    font-style: normal
}

.g-wrp.int main.q-hm {
    overflow: hidden
}

.g-wrp.int main.q-hm .hero__text p {
    max-width: 650px
}

.g-wrp.int main.q-hm h1 {
    font-size: var(--font-h5-size-bp-sm);
    line-height: var(--font-h5-line-height-bp-sm);
    letter-spacing: var(--font-h5-spacing-bp-sm)
}

.g-wrp.int main.q-pt section.tips .tip-highlight {
    height: 160px
}

.g-wrp.int main.q-pt section.tips .tip .text .title {
    display: block;
    margin: 0;
    font-size: var(--font-p-sm-size-bp-sm);
    line-height: var(--font-p-sm-line-height-bp-sm);
    letter-spacing: var(--font-p-sm-spacing-bp-sm);
    font-family: var(--font-family-text);
    font-weight: var(--font-text-regular-weight)
}

.g-wrp.int main.q-tl h1 {
    word-break: break-all
}

.g-wrp.int main.q-tl h2 {
    overflow-wrap: anywhere
}

.g-wrp.int main.contact-us header {
    clip-path: unset
}

.g-wrp.int main.contact-us header .caption:after {
    display: block
}

.g-wrp.int nav.type-bottom {
    bottom: 55px
}

.navbar {
    border-bottom: none
}

main.languages {
    position: relative
}

main.languages .with-background {
    background-color: #88619a;
    position: relative;
    padding-bottom: 75px
}

main.languages .with-background:before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 40%;
    bottom: -40px;
    transform: skewY(3deg);
    height: 65px
}

main.languages .with-background:after {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -40px;
    transform: skewY(-3deg);
    height: 65px
}

main.languages h1 {
    margin: 0;
    text-align: center;
    padding: 50px 0 30px;
    font-size: 2.1em;
    letter-spacing: unset;
    color: #fff
}

main.languages .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

main.languages .list .language {
    text-align: center;
    flex-direction: column;
    flex: 0 0 calc((100% - 50px)/2);
    width: calc((100% - 50px)/2);
    max-width: calc((100% - 50px)/2);
    padding: 5px 0;
    margin: 0 10px 10px 0
}

main.languages .list .language a {
    text-align: center
}

main.languages .list .language a:not(:focus):not(:hover):not(:focus-visible):not(:active) {
    text-decoration-color: transparent
}

main.languages .list .language .note {
    display: block;
    font-size: .8em;
    text-align: center;
    color: #b5b5b5;
    margin-top: 5px
}

@media (max-width: 1149px) {
    .g-wrp.int.az nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.br nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.el nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.es nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.hy nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.ka nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.mn nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.pt nav.sp-nav__topmiddle.items--5 li:nth-of-type(5),.g-wrp.int.uk nav.sp-nav__topmiddle.items--5 li:nth-of-type(5) {
        display:none
    }
}

@media (max-width: 1800px) {
    .g-wrp.int.el nav.sp-nav__topmiddle.items--5 li:nth-of-type(4),.g-wrp.int.hy nav.sp-nav__topmiddle.items--5 li:nth-of-type(4) {
        display:none
    }
}

@media (max-width: 1400px) {
    .g-wrp.int.el nav.sp-nav__topmiddle.items--4 li:nth-of-type(4),.g-wrp.int.hy nav.sp-nav__topmiddle.items--4 li:nth-of-type(4) {
        display:none
    }
}

@media (max-width: 767px) {
    .g-wrp.int.rtl main.q-pt .tips .tip .text {
        padding-left:10px;
        padding-right: 10px
    }
}

@media (min-width: 350px) {
    .g-wrp.int.az main.q-tl h2 {
        font-size:3rem
    }

    .g-wrp.int.br main.q-tl h1,.g-wrp.int.pt main.q-tl h1 {
        font-size: 1.7rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 3rem
    }

    .g-wrp.int.fi main.q-tl h1,.g-wrp.int.hu main.q-tl h1,.g-wrp.int.pl main.q-tl h1,.g-wrp.int.br main.q-tl h1,.g-wrp.int.ru main.q-tl h1 {
        font-size: 1.7rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 2.7rem
    }

    .g-wrp.int.is main.q-tl h1 {
        font-size: 1.7rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 2.7rem
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 2.75rem
    }

    .g-wrp.int.mn main.q-tl h1 {
        font-size: 1.7rem
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 2.4rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 2.9rem
    }
}

@media (min-width: 360px) {
    .g-wrp.int.es main.q-tl h2 {
        font-size:3rem
    }

    .g-wrp.int main.q-hm h1 {
        font-size: var(--font-h4-size-bp-sm);
        line-height: var(--font-h4-line-height-bp-sm);
        letter-spacing: var(--font-h4-spacing-bp-sm)
    }
}

@media (min-width: 380px) {
    .g-wrp.int.el main.q-tl h2 {
        font-size:3.4rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 2.7rem
    }
}

@media (min-width: 400px) {
    .g-wrp.int.az main.q-tl h2 {
        font-size:3.5rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 3rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 3rem
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 3.25rem
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 2.8rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 3.3rem
    }

    main.languages h1 {
        padding-top: 75px
    }
}

@media (min-width: 460px) {
    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size:3.55em
    }

    .g-wrp.int.az main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.bn main.q-tl h2 {
        font-size: 4.25rem
    }

    .g-wrp.int.br main.q-tl h1,.g-wrp.int.pt main.q-tl h1 {
        font-size: 2.2rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.el main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.fi main.q-tl h1,.g-wrp.int.hu main.q-tl h1,.g-wrp.int.pl main.q-tl h1,.g-wrp.int.br main.q-tl h1,.g-wrp.int.ru main.q-tl h1 {
        font-size: 2.2rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 3.5rem
    }

    .g-wrp.int.is main.q-tl h1 {
        font-size: 2.2rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 3.5rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 3.3rem
    }

    .g-wrp.int.hy main.q-tl h1 {
        font-size: 2.3rem
    }

    .g-wrp.int.hy main.q-tl h2 {
        font-size: 2.5rem
    }

    .g-wrp.int.ka main.q-tl h2 {
        font-size: 2.5rem
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 3.75rem
    }

    .g-wrp.int.mn main.q-tl h1 {
        font-size: 2.2rem
    }

    .g-wrp.int.mn main.q-tl h2 {
        font-size: 3.7rem
    }

    .g-wrp.int.ms main.q-tl h2 {
        font-size: 4.25rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 3rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 3.9rem
    }

    main.languages h1 {
        padding-bottom: 60px;
        font-size: 2.3em
    }

    main.languages .list .language {
        flex: 0 0 calc((100% - 50px) / 3);
        width: calc((100% - 50px) / 3);
        max-width: calc((100% - 50px) / 3)
    }
}

@media (min-width: 550px) {
    .g-wrp.int.az main.q-tl h2 {
        font-size:4.75rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 4.5rem
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 4.7rem
    }
}

@media (min-width: 600px) {
    .g-wrp.int.el main.q-tl h2 {
        font-size:5rem
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 5rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 4.3rem
    }

    .g-wrp.int.mn main.q-tl h2 {
        font-size: 4.5rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 5.5rem
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 3rem
    }

    .g-wrp.int.vi .type-group .types {
        margin-top: -20px
    }

    main.languages h1 {
        font-size: 2.5em
    }
}

@media (min-width: 768px) {
    .g-wrp.int.rtl .sp-dropdown-menu .sp-listbox .listbox__option .sp-icon {
        margin:0 0 0 8px
    }

    .g-wrp.int.rtl main.q-pt .question .caption.disagree {
        text-align: right
    }

    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size: 5.25em
    }

    .g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
        margin-top: -50px
    }

    .g-wrp.int.cs main.q-tl .type-group h2,.g-wrp.int.ee main.q-tl .type-group h2,.g-wrp.int.de main.q-tl .type-group h2,.g-wrp.int.hu main.q-tl .type-group h2,.g-wrp.int.no main.q-tl .type-group h2,.g-wrp.int.br main.q-tl .type-group h2,.g-wrp.int.ro main.q-tl .type-group h2,.g-wrp.int.ru main.q-tl .type-group h2,.g-wrp.int.es main.q-tl .type-group h2,.g-wrp.int.sk main.q-tl .type-group h2,.g-wrp.int.sl main.q-tl .type-group h2,.g-wrp.int.tr main.q-tl .type-group h2,.g-wrp.int.uk main.q-tl .type-group h2 {
        font-size: 6.5em
    }

    .g-wrp.int.ar article p,.g-wrp.int.fa article p {
        line-height: 1.85
    }

    .g-wrp.int.ar .q-tl .type-group h2,.g-wrp.int.fa .q-tl .type-group h2 {
        font-size: 7rem
    }

    .g-wrp.int.az main.q-tl h2 {
        font-size: 6.75rem
    }

    .g-wrp.int.bn main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.br main.q-tl h1,.g-wrp.int.pt main.q-tl h1 {
        font-size: 3rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.de .quiz__results .card__trait-info .card__trait {
        font-size: var(--font-h4-size-bp-md);
        line-height: var(--font-h4-line-height-bp-md)
    }

    .g-wrp.int.el main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 6rem
    }

    .g-wrp.int.fi main.q-tl h1,.g-wrp.int.hu main.q-tl h1,.g-wrp.int.pl main.q-tl h1,.g-wrp.int.br main.q-tl h1,.g-wrp.int.ru main.q-tl h1 {
        font-size: 3rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 6rem
    }

    .g-wrp.int.is main.q-tl h1 {
        font-size: 3rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 6rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 5.5rem
    }

    .g-wrp.int.hy main.q-tl h1 {
        font-size: 4rem;
        padding: 0 30px
    }

    .g-wrp.int.hy main.q-tl h2 {
        font-size: 4.5rem
    }

    .g-wrp.int.hy main.q-pt section.tips .tip .text .title {
        font-size: .9rem
    }

    .g-wrp.int.ka main.q-pt section.tips .tip .text .title {
        font-size: .9rem
    }

    .g-wrp.int.ka main.q-tl h1 {
        padding: 0 30px
    }

    .g-wrp.int.ka main.q-tl h2 {
        font-size: 4.5rem
    }

    .g-wrp.int.ka .quiz__results .results__cards .results__type__snippet {
        margin-bottom: 20px
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 6.5rem
    }

    .g-wrp.int.mn main.q-tl h1 {
        font-size: 3rem
    }

    .g-wrp.int.mn main.q-tl h2 {
        font-size: 6rem
    }

    .g-wrp.int.ms main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 7.2rem
    }

    .g-wrp.int.pl .sp-typeheader.adventurer .type-info h1 span {
        margin-bottom: 10px
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 5.5rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 6.5rem
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 4rem
    }

    .g-wrp.int .navbar .right-section .language-link .lang--flag {
        width: 22px;
        margin-right: 8px
    }

    .g-wrp.int .navbar .right-section .language-link .lang--full {
        display: inline
    }

    .g-wrp.int .navbar .right-section .language-link .lang--abbr {
        display: none
    }

    .g-wrp.int main.q-hm h1 {
        font-size: var(--font-h2-size-bp-md);
        line-height: var(--font-h2-line-height-bp-md);
        letter-spacing: var(--font-h2-spacing-bp-md)
    }

    .g-wrp.int main.q-pt section.tips .tip .text .title {
        font-size: var(--font-p-sm-size-bp-md);
        line-height: var(--font-p-sm-line-height-bp-md);
        letter-spacing: var(--font-p-sm-spacing-bp-md);
        font-family: var(--font-family-titles);
        font-weight: var(--font-titles-weight);
        font-size: var(--font-p-md-size-bp-md);
        line-height: var(--font-p-md-line-height-bp-md);
        letter-spacing: var(--font-p-md-spacing-bp-md)
    }

    main.languages h1 {
        font-size: 3em
    }

    main.languages .list .language {
        flex: 0 0 calc((100% - 50px)/4);
        width: calc((100% - 50px)/4);
        max-width: calc((100% - 50px)/4)
    }
}

@media (min-width: 992px) {
    .g-wrp.int.rtl main.q-pt .question .caption.agree {
        text-align:left!important
    }

    .g-wrp.int.rtl main.contact-us .social-icons .icon {
        margin: 0 0 0 20px
    }

    .g-wrp.int.ar .q-tl .type-group h2,.g-wrp.int.fa .q-tl .type-group h2 {
        font-size: 9rem
    }

    .g-wrp.int.az main.q-tl h2 {
        font-size: 8.25rem
    }

    .g-wrp.int.bn main.q-tl h2 {
        font-size: 8rem
    }

    .g-wrp.int.bn .sp-typeheader.logistician .type-info h1 span {
        line-height: 1
    }

    .g-wrp.int.br main.q-tl h1,.g-wrp.int.pt main.q-tl h1 {
        font-size: 4rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 8.5rem
    }

    .g-wrp.int.ch main.q-pt section.tips .tip .text .title,.g-wrp.int.tw main.q-pt section.tips .tip .text .title {
        font-size: 1.1rem
    }

    .g-wrp.int.el main.q-tl h2 {
        font-size: 8em
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 8rem
    }

    .g-wrp.int.fi main.q-tl h1,.g-wrp.int.hu main.q-tl h1,.g-wrp.int.pl main.q-tl h1,.g-wrp.int.br main.q-tl h1,.g-wrp.int.ru main.q-tl h1 {
        font-size: 4rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 7.25rem
    }

    .g-wrp.int.is main.q-tl h1 {
        font-size: 4rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 7.25rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 6em
    }

    .g-wrp.int.hy main.q-tl h2 {
        font-size: 5.5rem
    }

    .g-wrp.int.hy main.q-tl .types {
        margin-top: -50px
    }

    .g-wrp.int.ja main.q-pt section.tips .tip .text .title {
        font-size: 1rem
    }

    .g-wrp.int.ka main.q-tl h2 {
        font-size: 5.5rem
    }

    .g-wrp.int.ka main.q-tl .types {
        margin-top: -50px
    }

    .g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 {
        margin-top: 20px
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 7.5rem
    }

    .g-wrp.int.ko main.q-pt section.tips .tip .text .title {
        font-size: 1.1rem
    }

    .g-wrp.int.lv .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.lv .sp-typeheader.logistician .type-info h1 span,.g-wrp.int.lv .sp-typeheader.adventurer .type-info h1 span {
        line-height: 1;
        margin-bottom: 5px
    }

    .g-wrp.int.mn main.q-tl h1 {
        font-size: 4rem
    }

    .g-wrp.int.mn main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.ms main.q-tl h2 {
        font-size: 8rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 8em
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 6.5rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 7.6rem
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 4.5rem
    }

    .g-wrp.int .navbar .right-section {
        flex: 0 0 160px
    }

    .g-wrp.int .navbar .right-section .language-link .lang--flag {
        width: 18px;
        margin-right: 6px
    }

    .g-wrp.int .navbar .right-section .language-link {
        margin-right: 0
    }

    .g-wrp.int main.contact-us header {
        align-items: center;
        flex-direction: column-reverse
    }

    .g-wrp.int main.contact-us header .scene {
        background-color: #fff;
        clip-path: unset;
        padding: 0;
        text-align: center
    }

    .g-wrp.int main.contact-us header .scene img {
        width: 100%
    }

    main.languages .list .language {
        flex: 0 0 calc((100% - 50px)/5);
        width: calc((100% - 50px)/5);
        max-width: calc((100% - 50px)/5)
    }
}

@media (min-height: 900px) and (min-width: 992px) {
    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size:6.25em
    }

    .g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
        margin-top: -60px
    }

    .g-wrp.int.cs main.q-tl .type-group h2,.g-wrp.int.ee main.q-tl .type-group h2,.g-wrp.int.de main.q-tl .type-group h2,.g-wrp.int.hu main.q-tl .type-group h2,.g-wrp.int.no main.q-tl .type-group h2,.g-wrp.int.br main.q-tl .type-group h2,.g-wrp.int.ro main.q-tl .type-group h2,.g-wrp.int.ru main.q-tl .type-group h2,.g-wrp.int.es main.q-tl .type-group h2,.g-wrp.int.sk main.q-tl .type-group h2,.g-wrp.int.sl main.q-tl .type-group h2,.g-wrp.int.tr main.q-tl .type-group h2,.g-wrp.int.uk main.q-tl .type-group h2 {
        font-size: 7.5em
    }
}

@media (min-height: 900px) and (min-width: 1200px) {
    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size:8em
    }

    .g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
        margin-top: -80px
    }

    .g-wrp.int.cs main.q-tl .type-group h2,.g-wrp.int.ee main.q-tl .type-group h2,.g-wrp.int.de main.q-tl .type-group h2,.g-wrp.int.hu main.q-tl .type-group h2,.g-wrp.int.no main.q-tl .type-group h2,.g-wrp.int.br main.q-tl .type-group h2,.g-wrp.int.ro main.q-tl .type-group h2,.g-wrp.int.ru main.q-tl .type-group h2,.g-wrp.int.es main.q-tl .type-group h2,.g-wrp.int.sk main.q-tl .type-group h2,.g-wrp.int.sl main.q-tl .type-group h2,.g-wrp.int.tr main.q-tl .type-group h2,.g-wrp.int.uk main.q-tl .type-group h2 {
        font-size: 10em
    }

    .g-wrp.int.cs main.q-tl .type-group .types,.g-wrp.int.ee main.q-tl .type-group .types,.g-wrp.int.de main.q-tl .type-group .types,.g-wrp.int.hu main.q-tl .type-group .types,.g-wrp.int.no main.q-tl .type-group .types,.g-wrp.int.br main.q-tl .type-group .types,.g-wrp.int.ro main.q-tl .type-group .types,.g-wrp.int.ru main.q-tl .type-group .types,.g-wrp.int.es main.q-tl .type-group .types,.g-wrp.int.sk main.q-tl .type-group .types,.g-wrp.int.sl main.q-tl .type-group .types,.g-wrp.int.tr main.q-tl .type-group .types,.g-wrp.int.uk main.q-tl .type-group .types {
        margin-top: -100px
    }
}

@media (min-width: 1200px) {
    .g-wrp.int.ar .q-tl .type-group h2,.g-wrp.int.fa .q-tl .type-group h2 {
        font-size:12rem
    }

    .g-wrp.int.az main.q-tl h2 {
        font-size: 11rem
    }

    .g-wrp.int.az .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.az .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.bn main.q-tl h2 {
        font-size: 10em
    }

    .g-wrp.int.bn .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.bn .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 11rem
    }

    .g-wrp.int.de .quiz__results .card__trait-info .card__trait {
        font-size: var(--font-h4-size-bp-lg);
        line-height: var(--font-h4-line-height-bp-lg);
        letter-spacing: var(--font-h4-spacing-bp-lg)
    }

    .g-wrp.int.de .profile__section.profile__section--preferences .prefs__gender .group__options {
        min-width: 260px
    }

    .g-wrp.int.el main.q-tl h2 {
        font-size: 9em
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 11rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 9.5rem
    }

    .g-wrp.int.id .sp-typeheader.campaigner .type-info h1 span,.g-wrp.int.id .sp-typeheader.logistician .type-info h1 span {
        font-size: 3.1rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 9.5rem
    }

    .g-wrp.int.is .sp-typeheader .type-info h1 span {
        font-size: 3.1rem
    }

    .g-wrp.int.is .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.is .quiz__results .results__cards .card__actions .action__next {
        width: 190px
    }

    .g-wrp.int.hi .sp-typeheader .type-info h1 span {
        font-size: 3rem
    }

    .g-wrp.int.hy main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.hy .sp-typeheader .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.hy main.q-pt section.tips .tip .text .title {
        font-size: 1rem
    }

    .g-wrp.int.hy main.q-pt .action-row .sp-button {
        max-width: 400px
    }

    .g-wrp.int.ja main.q-pt section.tips .tip .text .title {
        font-size: 1.1rem
    }

    .g-wrp.int.ja .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3rem
    }

    .g-wrp.int.ka main.q-pt section.tips .tip .text .title {
        font-size: 1rem
    }

    .g-wrp.int.ka main.q-tl h2 {
        font-size: 7rem
    }

    .g-wrp.int.ka .sp-typeheader.advocate .type-info h1 span,.g-wrp.int.ka .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3rem
    }

    .g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 {
        margin-top: 40px
    }

    .g-wrp.int.ka .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.ka .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 10rem
    }

    .g-wrp.int.kk .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3rem
    }

    .g-wrp.int.kk .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.kk .quiz__results .results__cards .card__actions .action__next {
        width: 160px
    }

    .g-wrp.int.lv .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.lv .sp-typeheader.logistician .type-info h1 span,.g-wrp.int.lv .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3.3rem
    }

    .g-wrp.int.mn main.q-tl h2 {
        font-size: 8em
    }

    .g-wrp.int.mn main.q-tl .types {
        margin-top: -70px
    }

    .g-wrp.int.mn .sp-typeheader.logician .type-info h1 span {
        font-size: 3.4rem
    }

    .g-wrp.int.mn .sp-typeheader.mediator .type-info h1 span,.g-wrp.int.mn .sp-typeheader.executive .type-info h1 span,.g-wrp.int.mn .sp-typeheader.virtuoso .type-info h1 span,.g-wrp.int.mn .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3.5rem;
        margin-bottom: 10px!important
    }

    .g-wrp.int.mn .sp-typeheader.entrepreneur .type-info h1 span {
        font-size: 3rem
    }

    .g-wrp.int.mn .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.mn .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.ms main.q-tl h2 {
        font-size: 10em
    }

    .g-wrp.int.ms .sp-typeheader.logician .type-info h1 span {
        font-size: 3.4rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 10em
    }

    .g-wrp.int.ru .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.ru .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 7.5rem
    }

    .g-wrp.int.sw .sp-typeheader .type-info h1 span {
        font-size: 3.1rem
    }

    .g-wrp.int.th .sp-typeheader.virtuoso .type-info h1 span,.g-wrp.int.th .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.tr .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.tr .quiz__results .results__cards .card__actions .action__next {
        width: 180px
    }

    .g-wrp.int.uk .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.uk .quiz__results .results__cards .card__actions .action__next {
        width: 160px
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 10rem
    }

    .g-wrp.int.uz .sp-typeheader.protagonist .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.uz .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.uz .quiz__results .results__cards .card__actions .action__next {
        width: 200px
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 6rem
    }

    .g-wrp.int.vi .sp-typeheader.campaigner .type-info h1 span,.g-wrp.int.vi .sp-typeheader.entrepreneur .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.vi .sp-typeheader.debater .type-info h1 span,.g-wrp.int.vi .sp-typeheader.executive .type-info h1 span,.g-wrp.int.vi .sp-typeheader.virtuoso .type-info h1 span,.g-wrp.int.vi .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3.3rem
    }

    .g-wrp.int.vi .sp-typeheader.protagonist .type-info h1 span {
        font-size: 3.1rem
    }

    .g-wrp.int.vi .quiz__results .results__cards .card__actions .action__back,.g-wrp.int.vi .quiz__results .results__cards .card__actions .action__next {
        width: 160px
    }

    .g-wrp.int .navbar .right-section {
        flex: 0 0 200px
    }

    .g-wrp.int .navbar .right-section .language-link .lang--flag {
        width: 22px;
        margin-right: 8px
    }

    .g-wrp.int main.q-hm h1 {
        line-height: var(--font-h2-line-height-bp-lg)
    }
}

@media (min-width: 1200px) and (min-height: 900px) {
    .g-wrp.int.fr main.q-tl h2 {
        font-size:8em
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .g-wrp.int.ms .sp-typeheader.logistician .type-info h1 span {
        font-size:4rem
    }
}

@media (min-width: 1300px) {
    .g-wrp.int .navbar .right-section {
        flex:0 0 211px
    }
}

@media (min-height: 900px) and (min-width: 1400px) {
    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size:9em
    }

    .g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
        margin-top: -90px
    }

    .g-wrp.int.cs main.q-tl .type-group h2,.g-wrp.int.ee main.q-tl .type-group h2,.g-wrp.int.de main.q-tl .type-group h2,.g-wrp.int.hu main.q-tl .type-group h2,.g-wrp.int.no main.q-tl .type-group h2,.g-wrp.int.br main.q-tl .type-group h2,.g-wrp.int.ro main.q-tl .type-group h2,.g-wrp.int.ru main.q-tl .type-group h2,.g-wrp.int.es main.q-tl .type-group h2,.g-wrp.int.sk main.q-tl .type-group h2,.g-wrp.int.sl main.q-tl .type-group h2,.g-wrp.int.tr main.q-tl .type-group h2,.g-wrp.int.uk main.q-tl .type-group h2 {
        font-size: 11em
    }
}

@media (min-width: 1400px) {
    .g-wrp.int.az main.q-tl h2 {
        font-size:12rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 12rem
    }

    .g-wrp.int.el main.q-tl h2 {
        font-size: 10em
    }

    .g-wrp.int.el main.q-tl .types {
        margin-top: -100px
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 12rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 10.75rem
    }

    .g-wrp.int.id .sp-typeheader.campaigner .type-info h1 span,.g-wrp.int.id .sp-typeheader.logistician .type-info h1 span {
        font-size: 3.6rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 10.75rem
    }

    .g-wrp.int.hi .sp-typeheader .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.hy main.q-tl h2 {
        font-size: 8rem
    }

    .g-wrp.int.hy .sp-typeheader .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.hy main.q-pt section.tips .tip .text .title {
        font-size: 1.1rem
    }

    .g-wrp.int.ja main.q-pt section.tips .tip .text .title {
        font-size: 1.2rem
    }

    .g-wrp.int.ja .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3.6rem
    }

    .g-wrp.int.ka main.q-pt section.tips .tip .text .title {
        font-size: 1.1rem
    }

    .g-wrp.int.ka main.q-tl h2 {
        font-size: 8rem
    }

    .g-wrp.int.ka .sp-typeheader.advocate .type-info h1 span,.g-wrp.int.ka .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3.3rem
    }

    .g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 {
        margin-top: 50px
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 11rem
    }

    .g-wrp.int.kk .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.lv .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.lv .sp-typeheader.logistician .type-info h1 span,.g-wrp.int.lv .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3.8rem
    }

    .g-wrp.int.mn .sp-typeheader.logician .type-info h1 span {
        font-size: 3.9rem
    }

    .g-wrp.int.mn .sp-typeheader.mediator .type-info h1 span,.g-wrp.int.mn .sp-typeheader.executive .type-info h1 span,.g-wrp.int.mn .sp-typeheader.virtuoso .type-info h1 span,.g-wrp.int.mn .sp-typeheader.adventurer .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.mn .sp-typeheader.entrepreneur .type-info h1 span {
        font-size: 3.5rem
    }

    .g-wrp.int.ms .sp-typeheader.logician .type-info h1 span {
        font-size: 3.7rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 12em
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 9rem
    }

    .g-wrp.int.sw .sp-typeheader .type-info h1 span {
        font-size: 3.7rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 11rem
    }

    .g-wrp.int.uz .sp-typeheader.protagonist .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 6.75rem
    }

    .g-wrp.int.vi .sp-typeheader.campaigner .type-info h1 span,.g-wrp.int.vi .sp-typeheader.entrepreneur .type-info h1 span,.g-wrp.int.vi .sp-typeheader.protagonist .type-info h1 span {
        font-size: 3.7rem
    }

    main.languages h1 {
        font-size: 3.5em
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    .g-wrp.int.bn main.q-tl .types {
        margin-top:-70px
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 8em;
        margin-top: -30px
    }

    .g-wrp.int.fr main.q-tl .types {
        margin-top: -100px
    }

    .g-wrp.int.ms main.q-tl .types {
        margin-top: -70px
    }

    .g-wrp.int.sw main.q-tl .types {
        margin-top: -80px
    }
}

@media (min-width: 1500px) and (min-height: 900px) {
    .g-wrp.int.fr main.q-tl h2 {
        font-size:9em
    }
}

@media (min-width: 1520px) {
    .g-wrp.int .navbar .right-section {
        flex:0 0 240px
    }

    .g-wrp.int .navbar .right-section .language-link .lang--flag {
        margin-right: 10px
    }
}

@media (min-width: 1600px) {
    .g-wrp.int.bg main.q-tl .type-group h2,.g-wrp.int.nl main.q-tl .type-group h2,.g-wrp.int.el main.q-tl .type-group h2,.g-wrp.int.fi main.q-tl .type-group h2,.g-wrp.int.fr main.q-tl .type-group h2,.g-wrp.int.sw main.q-tl .type-group h2 {
        font-size:11em
    }

    .g-wrp.int.bg main.q-tl .type-group .types,.g-wrp.int.nl main.q-tl .type-group .types,.g-wrp.int.el main.q-tl .type-group .types,.g-wrp.int.fi main.q-tl .type-group .types,.g-wrp.int.fr main.q-tl .type-group .types,.g-wrp.int.sw main.q-tl .type-group .types {
        margin-top: -100px
    }

    .g-wrp.int.cs main.q-tl .type-group h2,.g-wrp.int.ee main.q-tl .type-group h2,.g-wrp.int.de main.q-tl .type-group h2,.g-wrp.int.hu main.q-tl .type-group h2,.g-wrp.int.no main.q-tl .type-group h2,.g-wrp.int.br main.q-tl .type-group h2,.g-wrp.int.ro main.q-tl .type-group h2,.g-wrp.int.ru main.q-tl .type-group h2,.g-wrp.int.es main.q-tl .type-group h2,.g-wrp.int.sk main.q-tl .type-group h2,.g-wrp.int.sl main.q-tl .type-group h2,.g-wrp.int.tr main.q-tl .type-group h2,.g-wrp.int.uk main.q-tl .type-group h2 {
        font-size: 13em
    }

    .g-wrp.int.az main.q-tl h2 {
        font-size: 14rem
    }

    .g-wrp.int.br main.q-tl h2,.g-wrp.int.pt main.q-tl h2 {
        font-size: 14rem
    }

    .g-wrp.int.es main.q-tl h2 {
        font-size: 14rem
    }

    .g-wrp.int.fi main.q-tl h2,.g-wrp.int.hu main.q-tl h2,.g-wrp.int.pl main.q-tl h2,.g-wrp.int.br main.q-tl h2,.g-wrp.int.ru main.q-tl h2 {
        font-size: 12.5rem
    }

    .g-wrp.int.id .sp-typeheader.campaigner .type-info h1 span,.g-wrp.int.id .sp-typeheader.logistician .type-info h1 span {
        font-size: 4.2rem
    }

    .g-wrp.int.is main.q-tl h2 {
        font-size: 12.5rem
    }

    .g-wrp.int.is .sp-typeheader .type-info h1 span {
        font-size: 3.6rem
    }

    .g-wrp.int.fr main.q-tl h2 {
        font-size: 9em
    }

    .g-wrp.int.hi .sp-typeheader .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.hy .sp-typeheader .type-info h1 span {
        font-size: 4.5rem
    }

    .g-wrp.int.ja .sp-typeheader.entertainer .type-info h1 span {
        font-size: 3.9rem
    }

    .g-wrp.int.ka .sp-typeheader.advocate .type-info h1 span,.g-wrp.int.ka .sp-typeheader.protagonist .type-info h1 span,.g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 span {
        font-size: 3.6rem
    }

    .g-wrp.int.ka .sp-typeheader.adventurer .type-info h1 {
        margin-top: 40px
    }

    .g-wrp.int.kk main.q-tl h2 {
        font-size: 13rem
    }

    .g-wrp.int.kk .sp-typeheader.entertainer .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.mn .sp-typeheader.logician .type-info h1 span {
        font-size: 4.3rem
    }

    .g-wrp.int.mn .sp-typeheader.entrepreneur .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.no main.q-tl h2 {
        font-size: 13em
    }

    .g-wrp.int.pl .sp-typeheader.adventurer .type-info h1 span {
        font-size: 4.5rem
    }

    .g-wrp.int.sw main.q-tl h2 {
        font-size: 10rem
    }

    .g-wrp.int.th .sp-typeheader.virtuoso .type-info h1 span,.g-wrp.int.th .sp-typeheader.entertainer .type-info h1 span {
        font-size: 4rem
    }

    .g-wrp.int.uz main.q-tl h2 {
        font-size: 13.7rem
    }

    .g-wrp.int.vi main.q-tl h2 {
        font-size: 7.5rem
    }

    .g-wrp.int main.contact-us header .caption {
        padding-top: 90px;
        max-width: 1400px
    }
}

@media (min-width: 1600px) and (min-height: 900px) {
    .g-wrp.int.fr main.q-tl h2 {
        font-size:10em
    }
}

@media (min-width: 1640px) {
    .g-wrp.int .navbar .right-section {
        flex:0 0 260px
    }
}
