<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>性格测试 | 16Personalities</title>
  <link rel="stylesheet" href="/16personalities/style.css">
  <link rel="stylesheet" href="/ch/aw50zxlszxm--B5xG79hP.css">
  <link rel="stylesheet" href="/16personalities/ag9tzxbhz2u--Co-J4gnD.css">
  <link rel="stylesheet" href="/ch/c3r5bgnvcmu--Dz_RZSrT.css">
  <link rel="stylesheet" href="/ch/cgvyc2vzda--BbFUYJFm.css">
  <link rel="stylesheet" href="/ch/uxvpegvpeg--C3NCIJcM.css">
  <link rel="stylesheet" href="/16personalities/yxbwyxbw--BxtxZlwU.css">
  <link rel="stylesheet" href="/ch/rwxsywnszxm--GGzNVArW.css">
  <link rel="stylesheet" href="/ch/rwxsywrpbw--mVzwphzv.css">
  <link rel="stylesheet" href="/ch/u29jawr0b25z--C_uJGJKd.css">
</head>

<body>
  <div id="main-app" class="g-wrp int ch">
    <%- include('./../components/16personalities-navbar'); %>
      <main id="test-app" class="q-pt">
        <header>
          <h1>免费性格测试</h1>
          <div class="trademark">
            NERIS Type Explorer
            <sup>®</sup>
          </div>
        </header>
        <section class="tips">
          <div class="tip-highlight first"></div>
          <div class="tip-highlight second"></div>
          <div class="tip-highlight third"></div>
          <div class="tip">
            <div class="background"></div>
            <img src="https://www.16personalities.com/static/images/test-header-2.svg">
            <div class="text">
              <div class="title">
                做你自己，诚实回答，找出你的性格类型。
              </div>
            </div>
          </div>
          <div class="tip">
            <img src="https://www.16personalities.com/static/images/academy/explorers/icons/theory.svg">
            <div class="text">
              <div class="title">
                了解你的性格类型如何在你生活的各个领域中产生影响。
              </div>
            </div>
          </div>
          <div class="tip last">
            <img src="https://www.16personalities.com/static/images/academy/analysts/exercise.svg">
            <div class="text">
              <div class="title">
                借助我们的精选材料，塑造你想要的自我。
              </div>
            </div>
          </div>
          <div class="shape"></div>
          <div class="shadow"></div>
        </section>
        <div id="main-app">
          <div>
            <div data-chunk="quiz-chunk" locale="ch">
              <div id="progress-wrapper" class="progress-wrapper">
                <div class="percentage">
                  20%
                </div>
                <div class="progress-bar">
                  <div class="filler" style="width: 20%;"></div>
                </div>
              </div>
              <span id="skip-content"></span>
              <form>
                <div data-quiz="" id="form-container" class="questions wrp tw-pt-0 tw-px-15 tw-pb-15 tw-mx-auto tw-w-full tw-max-w-[1200px] tw-flex tw-justify-center tw-items-center tw-flex-col small:tw-p-[15px] min-[400px]:tw-px-30 large:tw-px-0">

                </div>
                <div class="action-row">
                  <button type="button" class="sp-action sp-button button--action button--purple button--lg button--pill button--fixed button--icon-rt" aria-label="Go to next set of questions">
                    <span class="button__text">下一个</span>
                    <span data-v-683dd134="" class="sp-icon size--inherit color--inherit icon--rotatable icon--dir-rt icon--arrow button__icon--rt" aria-hidden="true">
                      <svg aria-labelledby="i_tiifo832yt" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                        <title id="i_tiifo832yt">Go</title>
                        <path
                          d="M23.296875,3.421875 L22.63125,4.0875 C22.190625,4.528125 22.190625,5.240625 22.63125,5.68125 L39.365625,22.40625 L4.125,22.40625 C3.50625,22.40625 3,22.9125 3,23.53125 L3,24.46875 C3,25.0875 3.50625,25.59375 4.125,25.59375 L39.365625,25.59375 L22.63125,42.328125 C22.190625,42.76875 22.190625,43.48125 22.63125,43.921875 L23.296875,44.5875 C23.7375,45.028125 24.45,45.028125 24.890625,44.5875 L44.68125,24.796875 C45.121875,24.35625 45.121875,23.64375 44.68125,23.203125 L24.890625,3.421875 C24.440625,2.98125 23.7375,2.98125 23.296875,3.421875 Z">
                        </path>
                      </svg>
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <span id="translation-extension-test" aria-hidden="true" style="font-size: 1px; height: 1px; width: 1px;">
            English Version
          </span>
          <div data-v-cb73cbbd="" class="social-popup">
            <a data-v-cb73cbbd="" href="https://twitter.com/intent/tweet?text=“”&amp;url=https://www.16personalities.com/ch/%E4%BA%BA%E6%A0%BC%E6%B5%8B%E8%AF%95&amp;via=16Personalities&amp;hashtags=16Personalities" target="_blank" class="twitter">
              <span data-v-cb73cbbd="" class="sp-icon icon--md icon--white socialtwitter icon--social">
                <svg aria-labelledby="i_c4b4fh4xey" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                  <title id="i_c4b4fh4xey">Twitter</title>
                  <path
                    d="M43.0659375,14.223375 C43.0964062,14.64975 43.0964062,15.0762187 43.0964062,15.5025937 C43.0964062,28.5075937 33.198,43.4924062 15.1065937,43.4924062 C9.53296875,43.4924062 4.35534375,41.878125 0,39.0762187 C0.79190625,39.1675312 1.55325,39.198 2.375625,39.198 C6.97453125,39.198 11.2080937,37.64475 14.5888125,34.995 C10.2639375,34.9035937 6.6395625,32.071125 5.3908125,28.172625 C6,28.2639375 6.60909375,28.324875 7.24875,28.324875 C8.13196875,28.324875 9.01528125,28.203 9.8375625,27.9899062 C5.32996875,27.076125 1.94915625,23.1167812 1.94915625,18.3350625 L1.94915625,18.2132812 C3.25875,18.94425 4.78171875,19.4010937 6.3958125,19.4619375 C3.7460625,17.6954062 2.01009375,14.6802187 2.01009375,11.2690312 C2.01009375,9.44165625 2.4973125,7.76653125 3.35015625,6.30459375 C8.1928125,12.274125 15.4720313,16.1725312 23.634375,16.599 C23.482125,15.8680312 23.3907188,15.1066875 23.3907188,14.34525 C23.3907188,8.923875 27.7765312,4.5076875 33.2282813,4.5076875 C36.06075,4.5076875 38.6190937,5.6955 40.4160938,7.61428125 C42.639375,7.18790625 44.7713438,6.36553125 46.65975,5.23865625 C45.9286875,7.52296875 44.3754375,9.44175 42.334875,10.6599375 C44.3145938,10.4468437 46.233375,9.8985 47.9998125,9.13715625 C46.6599375,11.0863125 44.9847187,12.8222812 43.0659375,14.223375 Z">
                  </path>
                </svg>
              </span>
            </a>
            <a data-v-cb73cbbd="" href="mailto:?body=“”%0D%0A%0D%0Ahttps://www.16personalities.com/ch/%E4%BA%BA%E6%A0%BC%E6%B5%8B%E8%AF%95" class="email">
              <span data-v-cb73cbbd="" class="sp-icon icon--md icon--white icon--envelope">
                <svg aria-labelledby="i_r3oio1p6op" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                  <title id="i_r3oio1p6op">Email</title>
                  <path
                    d="M43.5,6 L4.5,6 C2.015625,6 0,8.015625 0,10.5 L0,37.5 C0,39.984375 2.015625,42 4.5,42 L43.5,42 C45.984375,42 48,39.984375 48,37.5 L48,10.5 C48,8.015625 45.984375,6 43.5,6 Z M4.5,9 L43.5,9 C44.325,9 45,9.675 45,10.5 L45,14.38125 C42.946875,16.115625 40.0125,18.50625 30.88125,25.753125 C29.296875,27.009375 26.175,30.0375 24,30 C21.825,30.0375 18.69375,27.009375 17.11875,25.753125 C7.9875,18.50625 5.053125,16.115625 3,14.38125 L3,10.5 C3,9.675 3.675,9 4.5,9 Z M43.5,39 L4.5,39 C3.675,39 3,38.325 3,37.5 L3,18.28125 C5.1375,20.034375 8.5125,22.74375 15.253125,28.096875 C17.175,29.634375 20.56875,33.01875 24,33 C27.4125,33.028125 30.778125,29.671875 32.746875,28.096875 C39.4875,22.74375 42.8625,20.034375 45,18.28125 L45,37.5 C45,38.325 44.325,39 43.5,39 Z">
                  </path>
                </svg>
              </span>
            </a>
          </div>
          <div id="portal--tips"></div>
          <div class="scrollbar-measure"></div>
        </div>
        <span>

        </span>
        <div aria-label="Social Shares" class="sp-socials tw-text-center tw-my-40 medium:tw-my-60 huge:tw-my-80" data-chunk="social-chunk">
          <div class="social-count tw-mb-20">
            <div class="number font-head h4">835K</div>

          </div>
          <div data-v-176293ef="" class="sp-socialbuttons tw-flex tw-flex-wrap tw-justify-center tw-flex tw-flex-wrap tw-justify-center tw-gap-5 medium:tw-gap-20 tw-gap-10">
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <button data-v-176293ef="" id="action_e23kgsej9k" type="button" class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--facebook is--inverted" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon size--inherit color--inherit socialfacebook icon--social" alt="Facebook">
                  <svg aria-labelledby="i_m1rjx9vslb" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_m1rjx9vslb">Facebook</title>
                    <path
                      d="M47.25 24C47.25 11.156 36.844.75 24 .75S.75 11.156.75 24c0 11.604 8.502 21.223 19.617 22.969V30.72h-5.906V24h5.906v-5.122c0-5.827 3.469-9.046 8.782-9.046 2.544 0 5.205.454 5.205.454v5.719H31.42c-2.887 0-3.788 1.793-3.788 3.63V24h6.448l-1.031 6.72h-5.417V46.97C38.748 45.223 47.25 35.604 47.25 24z">
                    </path>
                  </svg>
                </span>
              </button>
            </div>
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <a data-v-176293ef="" id="action_u444ea3t19"
                href="https://twitter.com/intent/tweet?text=%E5%85%8D%E8%B4%B9%E6%80%A7%E6%A0%BC%E6%B5%8B%E8%AF%95&amp;url=https%3A%2F%2Fwww.16personalities.com%2Fch%2F%25E4%25BA%25BA%25E6%25A0%25BC%25E6%25B5%258B%25E8%25AF%2595&amp;via=16Personalities&amp;hashtags=16Personalities"
                class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--twitter is--inverted" target="_blank" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon size--inherit color--inherit socialtwitter icon--social" alt="Twitter"><svg aria-labelledby="i_smmufwhq76" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_smmufwhq76">Twitter</title>
                    <path
                      d="M43.0659375,14.223375 C43.0964062,14.64975 43.0964062,15.0762187 43.0964062,15.5025937 C43.0964062,28.5075937 33.198,43.4924062 15.1065937,43.4924062 C9.53296875,43.4924062 4.35534375,41.878125 0,39.0762187 C0.79190625,39.1675312 1.55325,39.198 2.375625,39.198 C6.97453125,39.198 11.2080937,37.64475 14.5888125,34.995 C10.2639375,34.9035937 6.6395625,32.071125 5.3908125,28.172625 C6,28.2639375 6.60909375,28.324875 7.24875,28.324875 C8.13196875,28.324875 9.01528125,28.203 9.8375625,27.9899062 C5.32996875,27.076125 1.94915625,23.1167812 1.94915625,18.3350625 L1.94915625,18.2132812 C3.25875,18.94425 4.78171875,19.4010937 6.3958125,19.4619375 C3.7460625,17.6954062 2.01009375,14.6802187 2.01009375,11.2690312 C2.01009375,9.44165625 2.4973125,7.76653125 3.35015625,6.30459375 C8.1928125,12.274125 15.4720313,16.1725312 23.634375,16.599 C23.482125,15.8680312 23.3907188,15.1066875 23.3907188,14.34525 C23.3907188,8.923875 27.7765312,4.5076875 33.2282813,4.5076875 C36.06075,4.5076875 38.6190937,5.6955 40.4160938,7.61428125 C42.639375,7.18790625 44.7713438,6.36553125 46.65975,5.23865625 C45.9286875,7.52296875 44.3754375,9.44175 42.334875,10.6599375 C44.3145938,10.4468437 46.233375,9.8985 47.9998125,9.13715625 C46.6599375,11.0863125 44.9847187,12.8222812 43.0659375,14.223375 Z">
                    </path>
                  </svg>
                </span>
              </a>
            </div>
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <a data-v-176293ef="" id="action_h02lanq3w7"
                href="https://pinterest.com/pin/create/link/?url=https%3A%2F%2Fwww.16personalities.com%2Fch%2F%25E4%25BA%25BA%25E6%25A0%25BC%25E6%25B5%258B%25E8%25AF%2595&amp;media=https%3A%2F%2Fwww.16personalities.com%2Fstatic%2Fimages%2Fog%2F1200x630-homepage.png&amp;description=%E5%85%8D%E8%B4%B9%E6%80%A7%E6%A0%BC%E6%B5%8B%E8%AF%95"
                class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--pinterest is--inverted" target="_blank" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon size--inherit color--inherit socialpinterest icon--social" alt="Pinterest">
                  <svg aria-labelledby="i_mq8na3h87q" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_mq8na3h87q">Pinterest</title>
                    <path
                      d="M25.125,0.609375 C15.50625,0.609375 6,7.021875 6,17.4 C6,24 9.7125,27.75 11.9625,27.75 C12.890625,27.75 13.425,25.1625 13.425,24.43125 C13.425,23.559375 11.203125,21.703125 11.203125,18.075 C11.203125,10.5375 16.940625,5.19375 24.365625,5.19375 C30.75,5.19375 35.475,8.821875 35.475,15.4875 C35.475,20.465625 33.478125,29.803125 27.009375,29.803125 C24.675,29.803125 22.678125,28.115625 22.678125,25.696875 C22.678125,22.153125 25.153125,18.721875 25.153125,15.065625 C25.153125,8.859375 16.35,9.984375 16.35,17.484375 C16.35,19.059375 16.546875,20.803125 17.25,22.2375 C15.95625,27.80625 13.3125,36.103125 13.3125,41.840625 C13.3125,43.6125 13.565625,45.35625 13.734375,47.128125 C14.053125,47.484375 13.89375,47.446875 14.38125,47.26875 C19.10625,40.8 18.9375,39.534375 21.075,31.06875 C22.228125,33.2625 25.209375,34.44375 27.571875,34.44375 C37.528125,34.44375 42,24.740625 42,15.99375 C42,6.684375 33.95625,0.609375 25.125,0.609375 Z">
                    </path>
                  </svg>
                </span>
              </a>
            </div>
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <a data-v-176293ef="" id="action_mc8xmk2oa7" href="mailto:?subject=%E5%85%8D%E8%B4%B9%E6%80%A7%E6%A0%BC%E6%B5%8B%E8%AF%95&amp;body=https%3A%2F%2Fwww.16personalities.com%2Fch%2F%25E4%25BA%25BA%25E6%25A0%25BC%25E6%25B5%258B%25E8%25AF%2595"
                class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--email is--inverted" target="_blank" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon icon--social size--inherit icon--gray icon--envelope" alt="Send by email">
                  <svg aria-labelledby="i_m0fg9c7dw2" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_m0fg9c7dw2">Email</title>
                    <path
                      d="M43.5,6 L4.5,6 C2.015625,6 0,8.015625 0,10.5 L0,37.5 C0,39.984375 2.015625,42 4.5,42 L43.5,42 C45.984375,42 48,39.984375 48,37.5 L48,10.5 C48,8.015625 45.984375,6 43.5,6 Z M4.5,9 L43.5,9 C44.325,9 45,9.675 45,10.5 L45,14.38125 C42.946875,16.115625 40.0125,18.50625 30.88125,25.753125 C29.296875,27.009375 26.175,30.0375 24,30 C21.825,30.0375 18.69375,27.009375 17.11875,25.753125 C7.9875,18.50625 5.053125,16.115625 3,14.38125 L3,10.5 C3,9.675 3.675,9 4.5,9 Z M43.5,39 L4.5,39 C3.675,39 3,38.325 3,37.5 L3,18.28125 C5.1375,20.034375 8.5125,22.74375 15.253125,28.096875 C17.175,29.634375 20.56875,33.01875 24,33 C27.4125,33.028125 30.778125,29.671875 32.746875,28.096875 C39.4875,22.74375 42.8625,20.034375 45,18.28125 L45,37.5 C45,38.325 44.325,39 43.5,39 Z">
                    </path>
                  </svg>
                </span>
              </a>
            </div>
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <a data-v-176293ef="" id="action_hf35kmxd3o" href="fb-messenger://share?link=https%3A%2F%2Fwww.16personalities.com%2Fch%2F%25E4%25BA%25BA%25E6%25A0%25BC%25E6%25B5%258B%25E8%25AF%2595&amp;app_id=326516237427150"
                class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--messenger is--inverted" target="_blank" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon size--inherit color--inherit socialmessenger icon--social" alt="Messenger">
                  <svg aria-labelledby="i_d5op07w1hv" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_d5op07w1hv">Messenger</title>
                    <path
                      d="M24.0515625,0.75 C10.92375,0.75 0.75,10.344375 0.75,23.3034375 C0.75,30.0815625 3.5353125,35.9390625 8.0690625,39.9853125 C8.851875,40.689375 8.690625,41.0971875 8.82375,45.444375 C8.84503315,46.0626347 9.17110278,46.6302323 9.69446947,46.9600585 C10.2178362,47.2898846 10.8705714,47.3391306 11.4375,47.0915625 C16.3978125,44.9071875 16.4615625,44.7346875 17.3025,44.9634375 C31.6734375,48.91875 47.25,39.721875 47.25,23.3034375 C47.25,10.344375 37.1803125,0.75 24.0515625,0.75 Z M38.0428125,18.1059375 L31.1990625,28.940625 C30.6766155,29.7642438 29.8344783,30.3327906 28.8752692,30.509473 C27.91606,30.6861553 26.926617,30.4549781 26.145,29.8715625 L20.7,25.79625 C20.2,25.42125 19.5125,25.42125 19.0125,25.79625 L11.6653125,31.36875 C10.6846875,32.1121875 9.4003125,30.9375 10.06125,29.8996875 L16.905,19.065 C17.4272578,18.2411535 18.2694147,17.6724163 19.2287133,17.4957175 C20.1880119,17.3190186 21.1775412,17.5503667 21.9590625,18.1340625 L27.4021875,22.2084375 C27.9021875,22.5834375 28.5896875,22.5834375 29.0896875,22.2084375 L36.440625,16.6415625 C37.419375,15.8934375 38.70375,17.0671875 38.0428125,18.1059375 L38.0428125,18.1059375 Z"
                      xmlns="http://www.w3.org/2000/svg">
                    </path>
                  </svg>
                </span>

              </a>
            </div>
            <div data-v-176293ef="" class="tw-flex-col tw-justify-center tw-items-center">
              <a data-v-176293ef="" id="action_pcmqd89d0q" href="whatsapp://send?text=%E5%85%8D%E8%B4%B9%E6%80%A7%E6%A0%BC%E6%B5%8B%E8%AF%95%3A%20https%3A%2F%2Fwww.16personalities.com%2Fch%2F%25E4%25BA%25BA%25E6%25A0%25BC%25E6%25B5%258B%25E8%25AF%2595"
                class="button--social sp-action sp-button button--action button--inherit button--md button--circle button--auto share--whatsapp is--inverted" target="_blank" rel="noreferrer">
                <span data-v-176293ef="" class="sp-icon size--inherit color--inherit socialwhatsapp icon--social" alt="WhatsApp">
                  <svg aria-labelledby="i_zb17s4uwrw" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                    <title id="i_zb17s4uwrw">WhatsApp</title>
                    <path
                      d="M38.709375,9.103125 C34.78125,5.165625 29.55,3 23.990625,3 C12.515625,3 3.178125,12.3375 3.178125,23.8125 C3.178125,27.478125 4.134375,31.059375 5.953125,34.21875 L3,45 L14.034375,42.103125 C17.071875,43.7625 20.49375,44.634375 23.98125,44.634375 L23.990625,44.634375 C35.45625,44.634375 45,35.296875 45,23.821875 C45,18.2625 42.6375,13.040625 38.709375,9.103125 Z M23.990625,41.128125 C20.878125,41.128125 17.83125,40.29375 15.178125,38.71875 L14.55,38.34375 L8.00625,40.059375 L9.75,33.675 L9.3375,33.01875 C7.603125,30.2625 6.69375,27.084375 6.69375,23.8125 C6.69375,14.278125 14.45625,6.515625 24,6.515625 C28.621875,6.515625 32.9625,8.315625 36.225,11.5875 C39.4875,14.859375 41.49375,19.2 41.4844077,23.821875 C41.4844077,33.365625 33.525,41.128125 23.990625,41.128125 Z M33.478125,28.171875 C32.9625,27.909375 30.403125,26.653125 29.925,26.484375 C29.446875,26.30625 29.1,26.221875 28.753125,26.746875 C28.40625,27.271875 27.4125,28.434375 27.103125,28.790625 C26.803125,29.1375 26.49375,29.184375 25.978125,28.921875 C22.921875,27.39375 20.915625,26.19375 18.9,22.734375 C18.365625,21.815625 19.434375,21.88125 20.428125,19.89375 C20.596875,19.546875 20.5125,19.246875 20.38125,18.984375 C20.25,18.721875 19.209375,16.1625 18.778125,15.121875 C18.35625,14.109375 17.925,14.25 17.60625,14.23125 C17.30625,14.2125 16.959375,14.2125 16.6125,14.2125 C16.265625,14.2125 15.703125,14.34375 15.225,14.859375 C14.746875,15.384375 13.40625,16.640625 13.40625,19.2 C13.40625,21.759375 15.271875,24.234375 15.525,24.58125 C15.7875,24.928125 19.190625,30.178125 24.4125,32.4375 C27.7125,33.8625 29.00625,33.984375 30.65625,33.740625 C31.659375,33.590625 33.73125,32.484375 34.1625,31.265625 C34.59375,30.046875 34.59375,29.00625 34.4625,28.790625 C34.340625,28.55625 33.99375,28.425 33.478125,28.171875 Z">
                    </path>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <%- include('./../components/16personalities-footer'); %>
      </main>
  </div>
</body>
<script>
const list = [{
  id: '1',
  question:'你经常交新朋友。',
  checked: '',
  answer:[
        { key: "我强烈同意",value: '-3', class: 'size--70 color--green'},
        { key: "我比较同意",value: '-2', class: 'size--56 color--green'},
        { key: "我同意",value: '-1', class: 'size--46 color--green'},
        { key: "我不确定",value: '0', class: 'size--36 color--neutral'},
        { key: "我不同意",value: '1', class: 'size--46 color--purple'},
        { key: "我比较不同意",value: '2', class: 'size--56 color--purple'},
        { key: "我强烈不同意",value: '3', class: 'size--70 color--purple'}
  ]
}]
function render(){
  return list.map(item=>{
    return  `<fieldset data-v-7a2d0b1c="" data-v-7e9015a1="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline group--active decision--dir-in-out-in">
        <legend data-v-7a2d0b1c="" id="" class="sr-only">
          <span data-v-7a2d0b1c="" class="statement text-center">
            <span data-v-7a2d0b1c="" class="sr-only">Question 1 of 60.</span>
            ${item.question}
          </span>
        </legend>
        <div data-v-7a2d0b1c="" aria-hidden="true" class="input__label">
            <span data-v-7a2d0b1c="" class="statement text-center">
            <span data-v-7a2d0b1c="" class="sr-only">Question 1 of 60.</span>
            ${item.question}
          </span>
        </div>
        <div data-v-7a2d0b1c="" data-groupoptions="" class="group__options">
          <div data-v-7e9015a1="" data-v-7a2d0b1c="" aria-hidden="true" class="captions--desktop caption agree text--green">
            同意
          </div>
          <div data-v-7a2d0b1c="" class="radios">
            ${
              item.answer.map(e=>{
                return `<span data-v-1a6afc7d="" class="sp-radio ${item.checked===e.value? 'is--checked' : ''} radio--opt-dzdtx ${e.class}">
                <label data-v-1a6afc7d="" for="radio_${item.id+item.question+e.key}">
                  <input data-v-1a6afc7d="" aria-label="${e.key}" aria-busy="false" id="radio_${item.id+item.question+e.key}" name="${item.id+item.question}" tabindex="-1" type="radio" value="${e.key}" onclick="radioClick(${item.id},${e.value})">
                  <span data-v-1a6afc7d="" class="radio__tick">
                    <span data-v-7e9015a1="" aria-hidden="true" class="sp-icon radio__icon icon--md icon--white icon--check" data-v-1a6afc7d="">
                      ${item.checked===e.value ? `<svg viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                        <path d="m41.766 8.625-26.25 26.25-9.282-9.281a1.126 1.126 0 0 0-1.593 0l-1.06 1.06c-.44.44-.44 1.152 0 1.593L14.72 39.375c.44.44 1.153.44 1.594 0l28.106-28.106c.44-.44.44-1.153 0-1.594l-1.06-1.05a1.126 1.126 0 0 0-1.593 0z"></path>
                      </svg>` : ''}
                    </span>  
                  </span>
                  <span data-v-1a6afc7d="" class="radio__label">${e.key}</span>
                </label>
              </span>`
              }).join('')
            }
          </div>
          <div data-v-7e9015a1="" data-v-7a2d0b1c="" aria-hidden="true" class="captions--desktop caption disagree text--purple">
            反对
          </div>
          <div data-v-7e9015a1="" data-v-7a2d0b1c="" aria-hidden="true" class="captions--mobile">
            <div data-v-7e9015a1="" data-v-7a2d0b1c="" class="caption agree text--green">
              同意
            </div>
            <div data-v-7e9015a1="" data-v-7a2d0b1c="" class="caption disagree text--purple">
              反对
            </div>
          </div>
        </div>
      </fieldset>`
  }).join('')

}
const tempalte = render()

var box = document.getElementById('form-container').innerHTML = tempalte
function radioClick(id,value){
  console.log(id,value);
  var question = list.find(e=>{
    console.log(e.id);
    return e.id==id
  })
  question.checked = String(value) 
  const tempalte = render()
  var box = document.getElementById('form-container').innerHTML = tempalte
}
</script>
</html>