.questions.wrp .question .statement {
    font-weight: var(--font-text-semibold-weight);
    max-width: 900px;
    margin: 0 auto;
    color: #576071;
    text-align: center;
    line-height: 1.5
}

.questions.wrp .question legend {
    text-align: center
}

.questions.wrp .question .decision {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 15px
}

.questions.wrp .question .decision:not(.mobile) .caption {
    display: none
}

.questions.wrp .question .decision.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px
}

.questions.wrp .question .decision .caption {
    font-weight: var(--font-text-semibold-weight);
    font-size: .8em;
    text-transform: uppercase
}

.questions.wrp .question .decision .caption.agree {
    color: #33a474;
    text-align: right
}

.questions.wrp .question .decision .caption.disagree {
    color: #88619a
}

.questions.wrp .question .decision .options {
    flex: 0 0 100%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.questions.wrp .question .decision .options .option {
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center
}

.questions.wrp .question .decision .options .option.agree {
    border: 2px solid #33A474
}

.questions.wrp .question .decision .options .option.agree:hover,.questions.wrp .question .decision .options .option.agree.active {
    background-color: #33a474
}

.questions.wrp .question .decision .options .option.neutral {
    border: 2px solid #9B9FAA;
    flex: 0 0 25px;
    max-width: 25px;
    height: 25px
}

.questions.wrp .question .decision .options .option.neutral:hover,.questions.wrp .question .decision .options .option.neutral.active {
    background-color: #9b9faa
}

.questions.wrp .question .decision .options .option.neutral span {
    font-size: .7em
}

.questions.wrp .question .decision .options .option.disagree {
    border: 2px solid #88619A
}

.questions.wrp .question .decision .options .option.disagree:hover,.questions.wrp .question .decision .options .option.disagree.active {
    background-color: #88619a
}

.questions.wrp .question .decision .options .option.max {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px
}

.questions.wrp .question .decision .options .option.max span {
    font-size: 1.1em;
    margin-top: 3px
}

.questions.wrp .question .decision .options .option.med {
    flex: 0 0 35px;
    max-width: 35px;
    height: 35px
}

.questions.wrp .question .decision .options .option.med span {
    font-size: 1em;
    margin-top: 2px
}

.questions.wrp .question .decision .options .option.min {
    flex: 0 0 28px;
    max-width: 28px;
    height: 28px
}

.questions.wrp .question .decision .options .option.min span {
    font-size: .8em;
    margin-top: 1px
}

.questions.wrp .question .decision .options .option.active span {
    color: #fff
}

.questions.wrp .question .decision .options .option span {
    color: transparent
}

.questions.wrp .question.sp-circles.inputoptions {
    margin: 35px 0 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #DDDFE2
}

.questions.wrp .question.sp-circles.inputoptions.is--rtl .group__options .radios>.sp-radio:first-child {
    margin-left: 0
}

.questions.wrp .question.sp-circles.inputoptions .group__options {
    width: 100%;
    justify-content: center;
    margin: 30px 0 0
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio {
    margin-left: 0
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio+.sp-radio {
    margin-left: 0
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--70 .radio__tick {
    width: 45px;
    height: 45px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--70 .radio__tick .sp-icon {
    width: 19.77px;
    height: 19.77px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--56 .radio__tick {
    width: 35px;
    height: 35px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--56 .radio__tick .sp-icon {
    width: 17.97px;
    height: 17.97px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--46 .radio__tick {
    width: 28px;
    height: 28px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--46 .radio__tick .sp-icon {
    width: 14.38px;
    height: 14.38px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--36 .radio__tick {
    width: 25px;
    height: 25px
}

.questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--36 .radio__tick .sp-icon {
    width: 12.58px;
    height: 12.58px
}

.questions.wrp .question.sp-circles.inputoptions .input__label {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    text-wrap: balance
}

.questions.wrp .question.sp-circles.inputoptions .caption {
    font-family: var(--font-family-text);
    letter-spacing: var(--font-p-md-spacing-bp-lg);
    font-weight: var(--font-text-semibold-weight);
    font-size: .8em;
    line-height: normal
}

.questions.wrp .question.sp-circles.inputoptions .captions--mobile {
    text-transform: uppercase;
    margin: 15px 0
}

.questions.wrp .question.sp-circles.inputoptions .captions--desktop {
    font-size: var(--font-h6-size-bp-sm);
    line-height: var(--font-h6-line-height-bp-sm);
    letter-spacing: var(--font-h6-spacing-bp-sm)
}

@media (min-width: 768px) {
    .questions.wrp .question .statement {
        letter-spacing:var(--font-p-lg-spacing-bp-md);
        font-size: 1.2em
    }

    .questions.wrp .question .decision {
        margin: 40px 0 20px
    }

    .questions.wrp .question .decision:not(.mobile) .caption {
        display: block
    }

    .questions.wrp .question .decision.mobile {
        display: none
    }

    .questions.wrp .question .decision .caption {
        font-size: 1.1em;
        text-transform: none
    }

    .questions.wrp .question .decision .options {
        flex: 0 0 400px;
        margin: 0 30px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options {
        margin-bottom: 20px;
        margin-top: 40px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios {
        flex-basis: 400px
    }

    .questions.wrp .question.sp-circles.inputoptions .captions--desktop {
        font-size: var(--font-h6-size-bp-md);
        line-height: var(--font-h6-line-height-bp-md);
        letter-spacing: var(--font-h6-spacing-bp-md)
    }
}

@media (min-width: 992px) {
    .questions.wrp .question .statement {
        font-size:1.4em
    }

    .questions.wrp .question .decision {
        margin: 50px 0 30px
    }

    .questions.wrp .question .decision .caption {
        font-size: 1.3em
    }

    .questions.wrp .question .decision .options {
        flex: 0 0 600px;
        margin: 0 60px
    }

    .questions.wrp .question .decision .options .option.neutral {
        flex: 0 0 35px;
        max-width: 35px;
        height: 35px
    }

    .questions.wrp .question .decision .options .option.neutral span {
        font-size: .9em
    }

    .questions.wrp .question .decision .options .option.max {
        flex: 0 0 70px;
        max-width: 70px;
        height: 70px
    }

    .questions.wrp .question .decision .options .option.max span {
        font-size: 1.5em
    }

    .questions.wrp .question .decision .options .option.med {
        flex: 0 0 55px;
        max-width: 55px;
        height: 55px
    }

    .questions.wrp .question .decision .options .option.med span {
        font-size: 1.2em
    }

    .questions.wrp .question .decision .options .option.min {
        flex: 0 0 45px;
        max-width: 45px;
        height: 45px
    }

    .questions.wrp .question .decision .options .option.min span {
        font-size: 1em
    }

    .questions.wrp .question .decision .options .option.agree,.questions.wrp .question .decision .options .option.disagree,.questions.wrp .question .decision .options .option.neutral {
        border-width: 3px
    }

    .questions.wrp .question.sp-circles.inputoptions {
        margin-top: 60px;
        padding-bottom: 45px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options {
        margin: 50px 0 30px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios {
        flex-basis: 600px;
        margin: 0 60px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio .radio__tick {
        border-width: 3px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--70 .radio__tick {
        width: 70px;
        height: 70px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--70 .radio__tick .sp-icon {
        width: 26.95px;
        height: 26.95px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--56 .radio__tick {
        width: 55px;
        height: 55px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--56 .radio__tick .sp-icon {
        width: 21.56px;
        height: 21.56px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--46 .radio__tick {
        width: 45px;
        height: 45px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--46 .radio__tick .sp-icon {
        width: 17.97px;
        height: 17.97px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--36 .radio__tick {
        width: 35px;
        height: 35px
    }

    .questions.wrp .question.sp-circles.inputoptions .group__options .radios .sp-radio.size--36 .radio__tick .sp-icon {
        width: 16.17px;
        height: 16.17px
    }

    .questions.wrp .question.sp-circles.inputoptions .input__label .statement {
        font-size: 1.4em
    }
}

@media (min-width: 1200px) {
    .questions.wrp .question.sp-circles.inputoptions .captions--desktop {
        font-size:var(--font-h6-size-bp-lg);
        line-height: var(--font-h6-line-height-bp-lg)
    }
}
