#form-container {
    padding: 10px;
    width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    #form-container {
        padding: 10px;
        width: 100%;
    }
}

.input__label {
    font-size: 1.125rem;
    line-height: 1;
    /* margin: 10px 0; */
    width: 100%;
    text-align: center;
    text-wrap: balance;


}


.questions .statement {
    font-weight: var(--font-text-semibold-weight);
    max-width: 900px;
    margin: 0 auto;
    color: #576071;
    text-align: center;
    line-height: 1.5
}

.inputoptions {
    margin: 35px 0 0;
    border-bottom: 1px solid #DDDFE2;
}

.group__options {
    display: flex;
    column-gap: 6px;
    color: #fff;
    padding: 15px 0 35px;
}

.option {
    flex: 1;
    padding: .6rem;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.option-left {
    border: 2px solid #33a474;
    color: #33a474;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.option-left.active {
    color: #fff;
    background-color: #33a474;
}

.option-right {
    justify-content: end;
    border: 2px solid #88619a;
    color: #88619a;
    /* background-color: #88619a; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all .5s ease-in-out; 
}
.option-right.active {
    color: #fff;
    background-color: #88619a;
}
.fixed-bottom .box{
    height: 50px;
    background-color: #fff;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0 10px;
}
.fixed-bottom .box .progress{
    flex: 1;
}
