.sp-radio[data-v-1a6afc7d] {
    vertical-align: middle;
    display: block;
    margin-bottom: 20px
}

.sp-radio label[data-v-1a6afc7d] {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start
}

.sp-radio .radio__tick[data-v-1a6afc7d] {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: inset 0 1px rgba(81,89,106,.05);
    border: 1px solid #CCCFD4;
    background-color: #fff;
    transition: all .2s ease-in-out;
    margin-top: 2px
}

.sp-radio .radio__spinner[data-v-1a6afc7d] {
    display: flex
}

.sp-radio .radio__label[data-v-1a6afc7d] {
    display: inline-flex;
    align-items: center;
    transition: all .2s ease-in-out;
    font-size: var(--font-p-md-size-bp-sm);
    line-height: var(--font-p-md-line-height-bp-sm);
    letter-spacing: var(--font-p-md-spacing-bp-sm);
    width: calc(100% - 30px)
}

.sp-radio .radio__note[data-v-1a6afc7d] {
    margin-top: 5px;
    margin-bottom: 0;
    color: #787f8d;
    font-size: var(--font-p-tn-size-bp-sm);
    line-height: var(--font-p-tn-line-height-bp-sm);
    letter-spacing: var(--font-p-tn-spacing-bp-sm);
    flex-basis: 100%
}

.sp-radio .radio__note a[data-v-1a6afc7d] {
    outline: 0;
    transition: all .2s ease-in-out,padding 0s,margin 0s,font-size 0s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    text-decoration-thickness: 1px;
    text-underline-offset: .32em;
    color: #4298b4
}

.sp-radio .radio__note a[data-v-1a6afc7d]:focus-visible,.sp-radio .radio__note a[data-v-1a6afc7d]:hover,.sp-radio .radio__note a[data-v-1a6afc7d]:active {
    text-decoration-color: rgba(66,152,180,.5)
}

.show--focus .sp-radio .radio__note a[data-v-1a6afc7d]:focus-visible {
    outline: 4px solid rgba(123,183,202,.6)
}

.sp-radio .radio__note a .sp-icon.color--inherit g[data-v-1a6afc7d],.sp-radio .radio__note a .sp-icon.color--inherit path[data-v-1a6afc7d],.sp-radio .radio__note a .sp-icon.color--inherit polygon[data-v-1a6afc7d] {
    fill: #4298b4
}

.sp-radio .radio__note a[data-v-1a6afc7d] .sp-icon.color--inherit g,.sp-radio .radio__note a[data-v-1a6afc7d] .sp-icon.color--inherit path,.sp-radio .radio__note a[data-v-1a6afc7d] .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__note[data-v-1a6afc7d] a {
    outline: 0;
    transition: all .2s ease-in-out,padding 0s,margin 0s,font-size 0s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    text-decoration-thickness: 1px;
    text-underline-offset: .32em;
    color: #4298b4
}

.sp-radio .radio__note[data-v-1a6afc7d] a:focus-visible,.sp-radio .radio__note[data-v-1a6afc7d] a:hover,.sp-radio .radio__note[data-v-1a6afc7d] a:active {
    text-decoration-color: rgba(66,152,180,.5)
}

.show--focus .sp-radio .radio__note[data-v-1a6afc7d] a:focus-visible {
    outline: 4px solid rgba(123,183,202,.6)
}

.sp-radio .radio__note[data-v-1a6afc7d] a .sp-icon.color--inherit g,.sp-radio .radio__note[data-v-1a6afc7d] a .sp-icon.color--inherit path,.sp-radio .radio__note[data-v-1a6afc7d] a .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__note[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit g,.sp-radio .radio__note[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit path,.sp-radio .radio__note[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__error[data-v-1a6afc7d] {
    margin-top: 5px;
    margin-bottom: 0;
    color: #787f8d;
    font-size: var(--font-p-tn-size-bp-sm);
    line-height: var(--font-p-tn-line-height-bp-sm);
    letter-spacing: var(--font-p-tn-spacing-bp-sm);
    color: #f25e62;
    display: block
}

.sp-radio .radio__error a .sp-icon.color--inherit g[data-v-1a6afc7d],.sp-radio .radio__error a .sp-icon.color--inherit path[data-v-1a6afc7d],.sp-radio .radio__error a .sp-icon.color--inherit polygon[data-v-1a6afc7d] {
    fill: #4298b4
}

.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit g,.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit path,.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit g,.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit path,.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit g,.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit path,.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit polygon {
    fill: #4298b4
}

.sp-radio .radio__error a[data-v-1a6afc7d] {
    outline: 0;
    transition: all .2s ease-in-out,padding 0s,margin 0s,font-size 0s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    text-decoration-thickness: 1px;
    text-underline-offset: .32em;
    color: #4298b4
}

.sp-radio .radio__error a[data-v-1a6afc7d]:focus-visible,.sp-radio .radio__error a[data-v-1a6afc7d]:hover,.sp-radio .radio__error a[data-v-1a6afc7d]:active {
    text-decoration-color: rgba(66,152,180,.5)
}

.show--focus .sp-radio .radio__error a[data-v-1a6afc7d]:focus-visible {
    outline: 4px solid rgba(123,183,202,.6)
}

.sp-radio .radio__error a .sp-icon.color--inherit g[data-v-1a6afc7d],.sp-radio .radio__error a .sp-icon.color--inherit path[data-v-1a6afc7d],.sp-radio .radio__error a .sp-icon.color--inherit polygon[data-v-1a6afc7d] {
    fill: #f25e62
}

.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit g,.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit path,.sp-radio .radio__error a[data-v-1a6afc7d] .sp-icon.color--inherit polygon {
    fill: #f25e62
}

.sp-radio .radio__error[data-v-1a6afc7d] a {
    outline: 0;
    transition: all .2s ease-in-out,padding 0s,margin 0s,font-size 0s;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    text-decoration-thickness: 1px;
    text-underline-offset: .32em;
    color: #4298b4
}

.sp-radio .radio__error[data-v-1a6afc7d] a:focus-visible,.sp-radio .radio__error[data-v-1a6afc7d] a:hover,.sp-radio .radio__error[data-v-1a6afc7d] a:active {
    text-decoration-color: rgba(66,152,180,.5)
}

.show--focus .sp-radio .radio__error[data-v-1a6afc7d] a:focus-visible {
    outline: 4px solid rgba(123,183,202,.6)
}

.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit g,.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit path,.sp-radio .radio__error[data-v-1a6afc7d] a .sp-icon.color--inherit polygon {
    fill: #f25e62
}

.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit g,.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit path,.sp-radio .radio__error[data-v-1a6afc7d] a ::v-deep .sp-icon.color--inherit polygon {
    fill: #f25e62
}

.sp-radio .radio__note[data-v-1a6afc7d],.sp-radio .radio__error[data-v-1a6afc7d] {
    display: block;
    margin-top: 0;
    margin-left: 30px
}

.sp-radio input[type=radio][data-v-1a6afc7d] {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0
}

.sp-radio input[type=radio]:focus~.radio__tick[data-v-1a6afc7d],.sp-radio input[type=radio]:hover~.radio__tick[data-v-1a6afc7d] {
    box-shadow: 0 0 6px rgba(80,169,170,.3),inset 0 1px rgba(81,89,106,.05);
    border-color: #4298b4
}

.sp-radio input[type=radio]:checked~.radio__tick[data-v-1a6afc7d] {
    border-color: #4298b4;
    border-width: 6px;
    box-shadow: none
}

.sp-radio input[type=radio]:checked:focus~.radio__tick[data-v-1a6afc7d],.sp-radio input[type=radio]:checked:hover~.radio__tick[data-v-1a6afc7d] {
    border-color: #347990
}

.sp-radio input[type=radio]:disabled~.radio__tick[data-v-1a6afc7d],.sp-radio input[type=radio]:disabled:hover~.radio__tick[data-v-1a6afc7d] {
    box-shadow: none
}

.sp-radio input[type=radio]:disabled~.radio__tick[data-v-1a6afc7d],.sp-radio input[type=radio]:disabled:hover~.radio__tick[data-v-1a6afc7d],.sp-radio input[type=radio]:disabled~.radio__label[data-v-1a6afc7d],.sp-radio input[type=radio]:disabled:hover~.radio__label[data-v-1a6afc7d] {
    opacity: .5
}

.sp-radio.has--error input[type=radio]:focus~.radio__tick[data-v-1a6afc7d],.sp-radio.has--error input[type=radio]:hover~.radio__tick[data-v-1a6afc7d] {
    box-shadow: 0 0 6px rgba(220,105,80,.3),inset 0 1px rgba(81,89,106,.05);
    border-color: #f25e62
}

.sp-radio.has--error .radio__tick[data-v-1a6afc7d] {
    border-color: #f25e62
}

.sp-radio.is--disabled[data-v-1a6afc7d],.sp-radio.is--busy[data-v-1a6afc7d] {
    pointer-events: none
}

.sp-radio.is--busy .radio__tick[data-v-1a6afc7d] {
    border-color: transparent
}

@media (min-width: 768px) {
    .sp-radio .radio__tick[data-v-1a6afc7d] {
        width:28px;
        height: 28px;
        margin-right: 15px;
        margin-top: 0
    }

    .sp-radio .radio__label[data-v-1a6afc7d] {
        font-size: var(--font-p-md-size-bp-lg);
        line-height: var(--font-p-md-line-height-bp-lg);
        width: calc(100% - 43px)
    }

    .sp-radio .radio__note[data-v-1a6afc7d],.sp-radio .radio__error[data-v-1a6afc7d] {
        font-size: var(--font-p-tn-size-bp-md);
        line-height: var(--font-p-tn-line-height-bp-md)
    }

    .sp-radio .radio__note[data-v-1a6afc7d],.sp-radio .radio__error[data-v-1a6afc7d] {
        margin-left: 43px
    }

    .sp-radio input[type=radio]:checked~.radio__tick[data-v-1a6afc7d] {
        border-width: 9px
    }
}
