.q-tl .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px
}

.q-tl .type-group {
    padding: 30px 15px 45px
}

.q-tl .type-group.analysts {
    background-color: #e7dfea;
    position: relative;
    margin-top: 30px
}

.q-tl .type-group.analysts:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    height: 60px;
    background-color: #d6ece3;
    transform: skewY(2deg);
    z-index: 1
}

.q-tl .type-group.analysts .background {
    height: 40px;
    width: 100%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0
}

.q-tl .type-group.analysts .background .c1 {
    fill: #e7dfea
}

.q-tl .type-group.analysts .types .type h4 {
    color: #88619a
}

.q-tl .type-group.diplomats {
    background-color: #d6ece3;
    position: relative
}

.q-tl .type-group.diplomats:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 50px;
    background-color: #d9eaf0;
    z-index: 1;
    transform: skewY(-2deg)
}

.q-tl .type-group.diplomats .types .type h4 {
    color: rgb(var(--rgb-green))
}

.q-tl .type-group.sentinels {
    background-color: #d9eaf0;
    position: relative
}

.q-tl .type-group.sentinels:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 50px;
    background-color: #f9eed7;
    transform: skewY(2deg);
    z-index: 1
}

.q-tl .type-group.sentinels .types .type h4 {
    color: rgb(var(--rgb-blue))
}

.q-tl .type-group.explorers {
    background-color: #f9eed7;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 90px
}

.q-tl .type-group.explorers:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    height: 50px;
    background-color: #f9eed7;
    transform: skewY(-2deg);
    z-index: 1
}

.q-tl .type-group.explorers .types .type h4 {
    color: rgb(var(--rgb-yellow))
}

.q-tl .type-group h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    position: relative;
    pointer-events: none;
    z-index: 2;
    font-size: 3em;
    letter-spacing: -1px
}

.q-tl .type-group .types {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -25px;
    position: relative;
    z-index: 3
}

.q-tl .type-group .types .type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    outline: 0;
    transition: all .1s ease-in-out;
    margin-bottom: 30px
}

.q-tl .type-group .types .type:hover {
    transform: translateY(-10px)
}

.q-tl .type-group .types .type .image {
    display: block;
    max-width: unset;
    width: 250px;
    height: 250px
}

.q-tl .type-group .types .type h4 {
    font-size: 1.4em;
    margin: 15px 0 3px;
    text-align: center
}

.q-tl .type-group .types .type h5 {
    margin: 0 0 10px;
    color: #343c4b;
    font-size: .9em
}

.q-tl .type-group .types .type .snippet {
    color: rgb(var(--rgb-gray-10));
    line-height: 1.7;
    text-align: center;
    font-size: .8em;
    max-width: 500px
}

@media (min-height: 900px) {
    .q-tl .type-group.analysts:after {
        transform:skewY(4deg)
    }

    .q-tl .type-group.diplomats:after {
        transform: skewY(-4deg)
    }

    .q-tl .type-group.sentinels:after {
        transform: skewY(4deg)
    }

    .q-tl .type-group.explorers:after {
        transform: skewY(-4deg)
    }
}

@media (min-width: 460px) {
    .q-tl .type-group h2 {
        font-size:4em
    }

    .q-tl .type-group .types .type {
        margin-bottom: 45px
    }
}

@media (min-width: 600px) {
    .q-tl .type-group.analysts {
        padding-bottom:100px
    }

    .q-tl .type-group.analysts:after {
        bottom: -70px;
        height: 120px
    }

    .q-tl .type-group.diplomats {
        padding-bottom: 100px
    }

    .q-tl .type-group.diplomats:after {
        bottom: -70px;
        height: 120px
    }

    .q-tl .type-group.sentinels {
        padding-bottom: 100px
    }

    .q-tl .type-group.sentinels:after {
        bottom: -50px;
        height: 90px
    }

    .q-tl .type-group.explorers:after {
        bottom: -60px;
        height: 100px
    }

    .q-tl .type-group h2 {
        font-size: 5.5em
    }

    .q-tl .type-group .types {
        margin-top: -60px
    }
}

@media (min-width: 768px) and (min-height: 900px) {
    .q-tl .hero {
        padding:60px 0
    }
}

@media (min-width: 768px) {
    .q-tl .type-group.explorers:after {
        bottom:-70px;
        z-index: -1
    }

    .q-tl .type-group h2 {
        font-size: 7.5em
    }

    .q-tl .type-group .types {
        justify-content: space-between
    }

    .q-tl .type-group .types .type {
        flex: 0 0 45%
    }
}

@media (min-width: 850px) {
    .q-tl .type-group.explorers {
        padding-bottom:50px
    }

    .q-tl .type-group.explorers:after {
        bottom: -30px
    }
}

@media (min-width: 992px) {
    .q-tl {
        margin-bottom:80px
    }

    .q-tl .hero {
        padding: 45px 0
    }

    .q-tl .type-group {
        padding: 0 60px 260px
    }

    .q-tl .type-group.analysts {
        margin-top: 70px
    }

    .q-tl .type-group.analysts .background {
        height: 80px;
        top: -80px
    }

    .q-tl .type-group.explorers {
        padding-bottom: 20px
    }

    .q-tl .type-group.explorers:after {
        bottom: -110px;
        height: 150px
    }

    .q-tl .type-group .types .type .image {
        width: 300px;
        height: 300px
    }

    .q-tl .type-group .types .type h4 {
        font-size: 1.6em;
        margin: 30px 0 5px
    }

    .q-tl .type-group .types .type h5 {
        font-size: 1.1em;
        margin: 0 0 15px
    }

    .q-tl .type-group .types .type .snippet {
        font-size: .9em
    }
}

@media (min-width: 992px) and (min-height: 900px) {
    .q-tl .hero {
        padding:60px 0
    }

    .q-tl .type-group {
        padding-top: 30px
    }

    .q-tl .type-group h2 {
        font-size: 9em
    }

    .q-tl .type-group .types {
        margin-top: -90px
    }

    .q-tl .type-group .types .type .snippet {
        font-size: 1em
    }
}

@media (min-width: 1200px) and (min-height: 900px) {
    .q-tl .hero {
        padding:60px 0 75px
    }

    .q-tl .type-group {
        padding-top: 30px
    }

    .q-tl .type-group.analysts {
        margin-top: 140px
    }

    .q-tl .type-group.analysts .background {
        height: 120px;
        top: -120px
    }

    .q-tl .type-group h2 {
        font-size: 11em;
        letter-spacing: -3px
    }

    .q-tl .type-group .types {
        margin-top: -100px
    }

    .q-tl .type-group .types .type h5 {
        font-size: 1em
    }
}

@media (min-width: 1200px) {
    .q-tl .type-group {
        padding:0 0 260px
    }

    .q-tl .type-group.explorers {
        padding-bottom: 50px
    }

    .q-tl .type-group.explorers:after {
        height: 170px
    }

    .q-tl .type-group .types .type {
        flex: 0 0 23%;
        width: 23%
    }

    .q-tl .type-group .types .type .image {
        width: 250px;
        height: 250px
    }

    .q-tl .type-group .types .type h4 {
        font-size: 1.4em;
        margin-top: 20px
    }

    .q-tl .type-group .types .type h5 {
        font-size: .9em
    }

    .q-tl .type-group .types .type .snippet {
        padding: 0 15px
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    .q-tl .hero {
        padding:60px 0 100px
    }

    .q-tl .type-group {
        padding-top: 30px
    }

    .q-tl .type-group.analysts {
        padding-bottom: 260px
    }

    .q-tl .type-group.analysts:after {
        bottom: -70px
    }

    .q-tl .type-group.analysts .background {
        height: 160px;
        top: -160px
    }

    .q-tl .type-group.diplomats {
        padding-bottom: 260px
    }

    .q-tl .type-group.diplomats:after {
        bottom: -70px
    }

    .q-tl .type-group.sentinels {
        padding-bottom: 260px
    }

    .q-tl .type-group.sentinels:after {
        bottom: -70px
    }

    .q-tl .type-group h2 {
        font-size: 13em
    }

    .q-tl .type-group .types {
        margin-top: -140px
    }

    .q-tl .type-group .types .type .snippet {
        font-size: 1.1em
    }
}

@media (min-width: 1400px) {
    .q-tl .type-group {
        padding:0 60px 260px
    }

    .q-tl .type-group.analysts {
        padding-bottom: 140px
    }

    .q-tl .type-group.analysts:after {
        bottom: -110px;
        height: 160px
    }

    .q-tl .type-group.diplomats {
        padding-bottom: 140px
    }

    .q-tl .type-group.diplomats:after {
        bottom: -110px;
        height: 160px
    }

    .q-tl .type-group.sentinels {
        padding-bottom: 140px
    }

    .q-tl .type-group.sentinels:after {
        bottom: -110px;
        height: 160px
    }

    .q-tl .type-group.explorers:after {
        bottom: -70px;
        height: 160px
    }

    .q-tl .type-group .types .type {
        flex: none;
        margin-bottom: 0
    }

    .q-tl .type-group .types .type .image {
        width: 300px;
        height: 300px
    }

    .q-tl .type-group .types .type h4 {
        font-size: 1.5em;
        margin-top: 30px
    }

    .q-tl .type-group .types .type .snippet {
        font-size: 1em
    }
}

@media (min-width: 1600px) {
    .q-tl .type-group h2 {
        font-size:15em;
        letter-spacing: -5px
    }

    .q-tl .type-group .types .type .image {
        width: 350px;
        height: 350px
    }

    .q-tl .type-group .types .type h4 {
        font-size: 1.6em
    }

    .q-tl .type-group .types .type h5 {
        font-size: 1em
    }

    .q-tl .type-group .types .type .snippet {
        padding: 0 30px
    }
}

@media (min-width: 1600px) and (min-height: 900px) {
    .q-tl .type-group .types .type h5 {
        font-size:1.1em
    }
}

@media (min-width: 1800px) {
    .q-tl .type-group .types {
        justify-content:center
    }

    .q-tl .type-group .types .type .snippet {
        padding: 0 45px
    }
}

@media (min-width: 2000px) {
    .q-tl .type-group.analysts:after {
        transform:skewY(2deg)
    }

    .q-tl .type-group.diplomats:after {
        transform: skewY(-2deg)
    }

    .q-tl .type-group.sentinels:after {
        transform: skewY(2deg)
    }

    .q-tl .type-group.explorers:after {
        transform: skewY(-2deg)
    }

    .q-tl .type-group .types {
        max-width: 2000px;
        margin: -140px auto 0
    }

    .q-tl .type-group .types .type .snippet {
        padding: 0 70px
    }
}
