    <div data-chunk=" " id="js-navbar" class="navbar sticky">
            <div class="logo" style="display: none;">
                <img src="http://xek.dlsjf.top/net_image/logo.svg" alt="16Personalities">
            </div>
            <a title="Homepage" class="logo logo__link" style="" href="http://mbti.ink">
                <img src="http://xek.dlsjf.top/net_image/logo.svg" alt="16Personalities" />
            </a>
            <div class="right-section" style="display: none;">
                <a href="/profile" class="link--login sp-link">
                    <span class="link__text">登录</span>
                </a>
                <a href="https://www.16personalities.com/languages" class="language-link sp-action sp-link link--icon-lt">
                    <span class="sp-icon size--inherit icon--darkgray icon--16pglobe">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 100 100">
                            <title>Language</title>
                            <path
                                d="M84.3 7.5 49.5 0l-35 11.7L0 41.2l4 30.5 17 21 31.3 7.2 33.2-10.5L98 66.2l2-31.8L84.3 7.5zm-5.4 75.7-18.7 6.3-1.5-6.5 3.1-7.8-11.3-5-13.1-1.3L28.9 58l-9.8-7.5-1.7-13.4-5.9-4.8 2-4.6 8.1-2.4.8-4.9 3.8-3.1 23.4-.9-7.9 9.8 4.9 2.1 3.7-4.4 14.8 5.5 8.8 7.3-12 7.1L57 58.6l-9.6-1.9-4.6 8.4 9.2 1.8 9.9 6.8 14.6-.2 7.8 2.2-5.4 7.5z"
                                style="fill: rgb(81, 89, 106);"></path>
                        </svg>
                    </span>
                    <span class="lang--full">简体中文</span>
                    <span class="lang--abbr">CH</span>
                </a>
            </div>
            <div class="nav--right right-section" style="">
                <a data-v-857ff324="" aria-haspopup="dialog" href="/profile" class="link--login sp-action sp-link">
                    <span data-v-857ff324="" class="link__text">登录</span>

                </a>
                <a data-v-857ff324="" id="action_jizebx9lgl" href="/languages" class="language-link sp-action sp-link link--icon-lt">
                    <span class="sp-icon size--inherit icon--darkgray icon--16pglobe" aria-hidden="true" data-v-857ff324="">
                        <svg aria-labelledby="i_rrbsl0yyhb" viewBox="0 0 100 100" role="img" xmlns="http://www.w3.org/2000/svg">
                            <title id="i_rrbsl0yyhb">Language</title>
                            <path
                                d="M84.3 7.5 49.5 0l-35 11.7L0 41.2l4 30.5 17 21 31.3 7.2 33.2-10.5L98 66.2l2-31.8L84.3 7.5zm-5.4 75.7-18.7 6.3-1.5-6.5 3.1-7.8-11.3-5-13.1-1.3L28.9 58l-9.8-7.5-1.7-13.4-5.9-4.8 2-4.6 8.1-2.4.8-4.9 3.8-3.1 23.4-.9-7.9 9.8 4.9 2.1 3.7-4.4 14.8 5.5 8.8 7.3-12 7.1L57 58.6l-9.6-1.9-4.6 8.4 9.2 1.8 9.9 6.8 14.6-.2 7.8 2.2-5.4 7.5z">
                            </path>
                        </svg>
                    </span>
                    <!-- <span data-v-857ff324="" class="lang--full">简体中文</span> -->
                    <span data-v-857ff324="" class="lang--abbr">CH</span>

                </a>
            </div>
            <button data-v-8de2b4c7="" aria-expanded="false" aria-labelledby="mobile-menu-label" tabindex="0" aria-controls="mobile-menu" class="sp-nav__mobiletoggle">
                <span data-v-8de2b4c7="" class="sp-icon bars icon--md icon--white icon--bars"><svg aria-labelledby="i_gbvwj7ngg1" viewBox="0 0 48 48" role="img" xmlns="http://www.w3.org/2000/svg">
                        <title id="i_gbvwj7ngg1">Menu</title>
                        <path
                            d="M44.438 10.688H3.562A.564.564 0 0 1 3 10.124v-2.25c0-.31.253-.563.563-.563h40.874c.31 0 .563.254.563.563v2.25c0 .31-.253.563-.563.563zm0 15H3.562A.564.564 0 0 1 3 25.125v-2.25c0-.31.253-.563.563-.563h40.874c.31 0 .563.254.563.563v2.25c0 .31-.253.563-.563.563zm0 15H3.562A.564.564 0 0 1 3 40.124v-2.25c0-.31.253-.563.563-.563h40.874c.31 0 .563.254.563.563v2.25c0 .31-.253.563-.563.563z">
                        </path>
                    </svg>
                </span>
                <span data-v-8de2b4c7="" id="mobile-menu-label" hidden="hidden">Main menu</span>
            </button>
        </div>