<div class="weui-footer page__ft">
    <p class="weui-footer__links">
        <a href="/" class="weui-footer__link weui-wa-hotarea">数字集合</a>
    </p>
    <p class="weui-footer__text">Copyright © 2017-2024 mbti.ink</p>
    <a href="//beian.miit.gov.cn/" class="page_copyright">
      <%= beian %>
    </a>
</div>